<div class="container-fluid">
  <span style="padding:4px;margin:8px auto; font-size: 1.3em; font-weight: bold;"
    [ngStyle]="{
    'background-color': '#' + (formBgColor || 'eee'),
    'font-family': formFont || 'Times New Roman, Times, serif',
    'color': '#' + (formColor || 'ff9900')
  }"
  >
    Add Dashboard
  </span>
  <div class="card" 
    [ngStyle]="{
    'background-color': '#' + (formBgColor || 'eee'),
    'font-family': formFont || 'Times New Roman, Times, serif',
    'color': '#' + (formColor || 'ff9900')
  }"
  >
    <div class="card-body"
      [ngStyle]="{ 'background-color': '#' + (formBgColor || 'eee') }"
    >
      <form [formGroup]="dashboardForm">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="row">
            <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="row mb-2">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <label class="form-check-label">Name</label
                  ><label style="color: red">*</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <input
                    class="form-control"
                    formControlName="name"
                    placeholder="Name"
                  />
                  <app-control-error
                    *ngIf="
                      dashboardForm.get('name').invalid &&
                      dashboardForm.get('name').touched
                    "
                  >
                    <span *ngIf="dashboardForm.get('name').errors.required">
                      This field is required.
                    </span>
                  </app-control-error>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <label class="form-check-label">Device ID</label
                  ><label style="color: red">*</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <app-dashboard-device-field
                    formControlName="deviceId"
                    placeholder="Select device..."
                  >
                  </app-dashboard-device-field>
                  <app-control-error
                    *ngIf="
                      dashboardForm.get('deviceId').invalid &&
                      dashboardForm.get('deviceId').touched
                    "
                  >
                    <span *ngIf="dashboardForm.get('deviceId').errors.required">
                      This field is required.
                    </span>
                  </app-control-error>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <label class="form-check-label">Visualization Type</label
                  ><label style="color: red">*</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <app-visualization-field
                    formControlName="visualization"
                    placeholder="Select visualization type"
                    (change)="toggleVisualizationForm()"
                  >
                  </app-visualization-field>
                  <app-control-error
                    *ngIf="
                      dashboardForm.get('visualization').invalid &&
                      dashboardForm.get('visualization').touched
                    "
                  >
                    <span
                      *ngIf="dashboardForm.get('visualization').errors.required"
                    >
                      This field is required.
                    </span>
                  </app-control-error>
                </div>
              </div>

              <div *ngIf="dashboardView">
                <div formGroupName="dashboardModel">
                  <div class="row mb-2">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <label class="form-check-label">Static Chart Type</label
                      ><label style="color: red">*</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <app-static-chart-field
                        formControlName="staticChart"
                        (change)="staticChartChange($event)"
                        placeholder="Select static chart type"
                      >
                      </app-static-chart-field>
                      <app-control-error
                        *ngIf="
                          dashboardForm.get('dashboardModel.staticChart')
                            .invalid &&
                          dashboardForm.get('dashboardModel.staticChart')
                            .touched
                        "
                      >
                        <span
                          *ngIf="
                            dashboardForm.get('dashboardModel.staticChart')
                              .errors.required
                          "
                        >
                          This field is required.
                        </span>
                      </app-control-error>
                    </div>
                    <div
                      *ngIf="showStaticChartImg"
                      class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"
                    >
                      <img [src]="staticChartImg" width="100" height="60" />
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <label class="form-check-label">Time Chart Type</label
                      ><label style="color: red">*</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <app-time-chart-field
                        formControlName="timeChart"
                        (change)="timeChartChange($event)"
                        placeholder="Select time chart type"
                      >
                      </app-time-chart-field>
                      <app-control-error
                        *ngIf="
                          dashboardForm.get('dashboardModel.timeChart')
                            .invalid &&
                          dashboardForm.get('dashboardModel.timeChart').touched
                        "
                      >
                        <span
                          *ngIf="
                            dashboardForm.get('dashboardModel.timeChart').errors
                              .required
                          "
                        >
                          This field is required.
                        </span>
                      </app-control-error>
                    </div>
                    <div
                      *ngIf="showTimeChartImg"
                      class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"
                    >
                      <img [src]="timeChartImg" width="100" height="60" />
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="geolocationView">
                <div formGroupName="geolocationModel">
                  <div class="row mb-2">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <label class="form-check-label">Marker Icon</label
                      ><label style="color: red">*</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <app-marker-icon-field
                        formControlName="markerIcon"
                        (change)="markerIconChange($event)"
                        placeholder="Select marker icon "
                      >
                      </app-marker-icon-field>
                      <app-control-error
                        *ngIf="
                          dashboardForm.get('geolocationModel.markerIcon')
                            .invalid &&
                          dashboardForm.get('geolocationModel.markerIcon')
                            .touched
                        "
                      >
                        <span
                          *ngIf="
                            dashboardForm.get('geolocationModel.markerIcon')
                              .errors.required
                          "
                        >
                          This field is required.
                        </span>
                      </app-control-error>
                    </div>
                    <div
                      *ngIf="showMarkerIcon"
                      class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"
                    >
                      <img [src]="markerIcon" width="100" height="60" />
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <label class="form-check-label">Speed</label
                      ><label style="color: red">*</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <input
                        class="form-control"
                        formControlName="speed"
                        type="number"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                      />
                      <app-control-error
                        *ngIf="
                          dashboardForm.get('geolocationModel.speed').invalid &&
                          dashboardForm.get('geolocationModel.speed').touched
                        "
                      >
                        <span
                          *ngIf="
                            dashboardForm.get('geolocationModel.speed').errors
                              .required
                          "
                        >
                          This field is required.
                        </span>
                      </app-control-error>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <label class="form-check-label">Owner</label
                  ><label style="color: red">*</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <app-owner-field
                    formControlName="owner"
                    placeholder="Select owner..."
                  >
                  </app-owner-field>
                  <app-control-error
                    *ngIf="
                      dashboardForm.get('owner').invalid &&
                      dashboardForm.get('owner').touched
                    "
                  >
                    <span *ngIf="dashboardForm.get('owner').errors.required">
                      This field is required.
                    </span>
                  </app-control-error>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid px-0">
            <div class="row rowing">
                <div class="col">
                  <button (click)="cancel()" type="button" class="btn btn-danger" id="cancel">
                    Cancel
                  </button>
                  <button
                    [disabled]="!dashboardForm.valid"
                    (click)="submit()"
                    type="button"
                    class="btn btn-success float-end"
                    id="submit">
                    Save
                  </button>
                </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
