<div
  class="container-fluid"
  style="margin: 5px 0; padding-right: 0px; padding-left: 0px"
>
  <div class="row justify-content-center align-items-center">
    <div class="" style="padding-right: 0px; padding-left: 0px">
      <div
        class="card col-sm-12 col-xs-12 col-md-12"
        style="
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        "
      >
        <div class="card-body" style="overflow: auto">
          <ng-container>
            <div
              class="card"
              [ngStyle]="{
                'font-family': formFont || 'Times New Roman, Times, serif'
              }"
            >
              <app-title
                class="card-header"
                title="Client billing"
                size="lg"
              ></app-title>
              <div class="float-end">
                <!-- <app-report-actions
                  report="DeviceSummary"
                  [data]="excelFormat(payload.value)"
                ></app-report-actions> -->
              </div>
              <div class="card-body">
                <form [formGroup]="notifyForm">
                  <div
                    class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"
                  >
                    <div>
                      <div class="row mb-3 ms-2 mt-5">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label">Company</label>
                         
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                        <!-- placeholder="No" -->
                        <span 
                          [ngStyle]="{
                            fontSize: '16px',
                            textTransform:'uppercase'
                          }">{{ companyName }}</span>
                        </div>
                      </div>
                     
                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label"
                            >Number of devices</label
                          >
                          <label style="color: red">*</label>
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                        <input
                        class="form-control"
                        readonly
                        formControlName="deviceQty"
                      />
                        </div>
                      </div>
                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-item"
                            >Number of years of subscription</label
                          >
                          <label style="color: red">*</label>
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                        <input
                        class="form-control"
                        readonly
                        formControlName="year"
                      />
                        </div>
                      </div>
                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label"> Number of Text messages to be received</label>
                          <label style="color: red">*</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <input
                            class="form-control"
                            type="text"
                            formControlName="messages"
                        />
                        </div>
                      </div>

                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label">Number of phone calls to be received</label>
                          <label style="color: red">*</label>
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                        <input
                        class="form-control"
                        type="text"
                        formControlName="phoneCall"
                        />
                        </div>
                      </div>

                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label">Number of users</label>
                          <label style="color: red">*</label>
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                        <input
                        class="form-control"
                        type="text"
                        formControlName="user"
                        />
                        </div>
                      </div>

                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label">Plan code</label>
                          <label style="color: red">*</label>
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                        <input
                        class="form-control"
                        readonly
                        placeholder="tiers"
                        value={{planCode}}
                      />
                        </div>
                      </div>

                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label">Plan Name</label>
                          <label style="color: red">*</label>
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <input
                          class="form-control"
                          readonly
                          placeholder="Base for 1 year"
                          value={{planName}}
                        />
                        </div>
                      </div>

                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label">Platform Access Fees</label>
                          <label style="color: red">*</label>
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <input
                          class="form-control"
                          readonly
                          placeholder="Value Available"
                          value={{platformAccessFee}}
                        />
                        </div>
                      </div>

                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label">Device unit price</label>
                          <label style="color: red">*</label>
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <input
                          class="form-control"
                          readonly
                          placeholder="Value Avaliable"
                          value={{devicePrice}}
                        />
                        </div>
                      </div>

                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-chexk-label">Coupon </label>
                          <label style="color: red">*</label>
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                        <input
                        class="form-control"
                        placeholder="Number"
                      />
                        </div>
                      </div>

                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label">Billing Method</label>
                          <label style="color: red">*</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <app-combo-select-field [options]="billingMethods" (selectionChange)="billSelectionChange($event)"> </app-combo-select-field>
                        </div>
                      </div>

                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label">Payment option</label>
                          <label style="color: red">*</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <app-combo-select-field [options]="!billingMethod ? '': payOptions" (selectionChange)="paySelectionChange($event)"></app-combo-select-field>
                        </div>
                      </div>
                      <div class="row mb-3 ms-2">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <label class="form-check-label"
                            >Subscription paid
                          </label>
                          <label style="color: red">*</label>
                        </div>
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-5 ms-2">
                    <div class="col mt-3 mb-3">
                      <button
                        type="button"
                        class="btn btn-danger"
                        [ngStyle]="{
                          backgroundColor: '#fff',
                          width: '10em',
                          color: '#' + (primaryColour || '3D95F7'),
                          fontSize: '16px',
                          border: '1px solid #' + (primaryColour || '3D95F7'),
                          borderRadius: '10px',
                          height: '40px'
                        }"
                        (click)="cancel()"
                      >
                        Cancel
                      </button>

                    <angular4-paystack
                        [key]="'pk_test_6b51d85e93fa26b138e803daef498a466a01e234'"
                        [email]="'mailexample@mail.com'"
                        [amount]="5000000"
                        [ref]="'26374548dbgftnik78'"
                        [class]="'btn btn-primary float-end'"
                        (close)="paymentCancel()"
                        (callback)="paymentDone($event)">Pay with Paystack
                    </angular4-paystack>
                      
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

