// label{
//     font-family: Times New Roman, Times, serif;
// }
input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 5px;
}
// button{
//     font-family: Times New Roman, Times, serif;
// }
button.btn-danger:hover {
  background-color: red;
}
button.btn-success:hover {
  background-color: green;
}

.userAccessDevice:hover {
  // box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}
