<div class="mb-2">
  <app-title title="Edit User" size="md"></app-title>
</div>
<div class="boxing" style="text-align: left">
  <div class="row">
    <!-- <div class="container" [formGroup]="form">
      <div class="row mb-3">
        <label class="col-5 col-form-label">First name</label>
        <div class="col-7">
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            placeholder="First name"
          />
          <app-control-error
            *ngIf="
              form.get('firstName').invalid && form.get('firstName').touched
            "
          >
            <span *ngIf="form.get('firstName').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-5 col-form-label">Last name</label>
        <div class="col-7">
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            placeholder="Last name"
          />
          <app-control-error
            *ngIf="form.get('lastName').invalid && form.get('lastName').touched"
          >
            <span *ngIf="form.get('lastName').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-5 col-form-label">User Type</label>
        <div class="col-7">
          <app-user-type-field
            formControlName="userTypeId"
            placeholder="User type"
          ></app-user-type-field>
          <app-control-error
            *ngIf="
              form.get('userTypeId').invalid && form.get('userTypeId').touched
            "
          >
            <span *ngIf="form.get('userTypeId').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-5 col-form-label">Company</label>
        <div class="col-7">
          {{ company?.companyName }}
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-5 col-form-label">Location</label>
        <div class="col-7">
          <app-branch-field
            [companyId]="company?.companyId"
            formControlName="locationId"
            placeholder="Location"
          >
          </app-branch-field>
          <app-control-error
            *ngIf="
              form.get('locationId').invalid && form.get('locationId').touched
            "
          >
            <span *ngIf="form.get('locationId').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-5 col-form-label">Email Address</label>
        <div class="col-7">
          <input
            type="email"
            formControlName="emailAddress"
            class="form-control"
            placeholder="Email Address"
          />
          <app-control-error
            *ngIf="
              form.get('emailAddress').invalid &&
              form.get('emailAddress').touched
            "
          >
            <span *ngIf="form.get('emailAddress').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-5 col-form-label">Primary Phone No.</label>
        <div class="col-7">
          <input
            type="tel"
            formControlName="pryPhoneNo"
            class="form-control"
            placeholder="Primary Phone"
          />
          <app-control-error
            *ngIf="
              form.get('pryPhoneNo').invalid && form.get('pryPhoneNo').touched
            "
          >
            <span *ngIf="form.get('pryPhoneNo').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-5 col-form-label">Alternate Phone No.</label>
        <div class="col-7">
          <input
            type="tel"
            formControlName="altPhoneNo"
            class="form-control"
            placeholder="Alternate Phone"
          />
        </div>
      </div>
    </div> -->

    <div class="container" [formGroup]="form">
      <div class="row align-items-center">
        <div class="col-xs-10 col-md-6 col-lg-4 mb-3">
          <mat-form-field class="col-12" appearance="outline"
            ><mat-label
              [ngStyle]="{
                color: formFontColor || 'black',

                'font-family': formFont || 'Times New Roman, Times, serif'
              }"
              >First Name</mat-label
            ><input
              matInput
              [ngStyle]="{
                color: formFontColor || 'black',
                'background-color': formBgColor
              }"
              formControlName="firstName"
              placeholder="First name"
          /></mat-form-field>
          <app-control-error
            *ngIf="
              form.get('firstName').invalid && form.get('firstName').touched
            "
          >
            <span *ngIf="form.get('firstName').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>

        <div class="col-xs-10 col-md-6 col-lg-4 mb-3">
          <mat-form-field class="col-12" appearance="outline"
            ><mat-label
              [ngStyle]="{
                color: formFontColor || 'black',

                'font-family': formFont || 'Times New Roman, Times, serif'
              }"
              >Last Name</mat-label
            ><input
              matInput
              [ngStyle]="{
                color: formFontColor || 'black',
                'background-color': formBgColor
              }"
              formControlName="lastName"
              placeholder="Last name"
          /></mat-form-field>
          <app-control-error
            *ngIf="form.get('lastName').invalid && form.get('lastName').touched"
          >
            <span *ngIf="form.get('lastName').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>

        <div class="col-xs-10 col-md-6 col-lg-4 mb-3">
          <mat-form-field class="col-12" appearance="outline"
            ><mat-label
              [ngStyle]="{
                color: formFontColor || 'black',

                'font-family': formFont || 'Times New Roman, Times, serif'
              }"
              >Primary Phone No.</mat-label
            ><input
              matInput
              [ngStyle]="{
                color: formFontColor || 'black',
                'background-color': formBgColor
              }"
              formControlName="pryPhoneNo"
              placeholder="Primary Phone"
          /></mat-form-field>
          <app-control-error
            *ngIf="
              form.get('pryPhoneNo').invalid && form.get('pryPhoneNo').touched
            "
          >
            <span *ngIf="form.get('pryPhoneNo').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>

        <div class="col-xs-10 col-md-6 col-lg-4 mb-3">
          <mat-form-field class="col-12" appearance="outline"
            ><mat-label
              [ngStyle]="{
                color: formFontColor || 'black',

                'font-family': formFont || 'Times New Roman, Times, serif'
              }"
              >Alternate Phone No.</mat-label
            ><input
              matInput
              [ngStyle]="{
                color: formFontColor || 'black',
                'background-color': formBgColor
              }"
              formControlName="altPhoneNo"
              placeholder="Alternate Phone"
          /></mat-form-field>
        </div>

        <div class="col-xs-10 col-md-6 col-lg-4 mb-3">
          <mat-form-field class="col-12" appearance="outline"
            ><mat-label
              [ngStyle]="{
                color: formFontColor || 'black',

                'font-family': formFont || 'Times New Roman, Times, serif'
              }"
              >Email Address</mat-label
            ><input
              matInput
              [ngStyle]="{
                color: formFontColor || 'black',
                'background-color': formBgColor
              }"
              formControlName="emailAddress"
              placeholder="Email Address"
              F
          /></mat-form-field>
          <app-control-error
            *ngIf="
              form.get('emailAddress').invalid &&
              form.get('emailAddress').touched
            "
          >
            <span *ngIf="form.get('emailAddress').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>

        <div class="col-xs-10 col-md-6 col-lg-4 mb-3">
          <app-branch-field
            [companyId]="company?.companyId"
            formControlName="locationId"
            placeholder="Location"
            [new]="true"
            [defaultValue]="form.get('locationId').value"
            (selectionChange)="form.patchValue({ locationId: $event.value })"
          >
          </app-branch-field>
          <app-control-error
            *ngIf="
              form.get('locationId').invalid && form.get('locationId').touched
            "
          >
            <span *ngIf="form.get('locationId').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>

        <div class="col-xs-10 col-md-6 col-lg-4 mb-3">
          <app-user-type-field
            formControlName="userTypeId"
            placeholder="User type"
            [selectable]="true"
            [defaultValue]="form.get('userTypeId').value"
            (selectionChange)="form.patchValue({ userTypeId: $event.value })"
          ></app-user-type-field>
          <app-control-error
            *ngIf="
              form.get('userTypeId').invalid && form.get('userTypeId').touched
            "
          >
            <span *ngIf="form.get('userTypeId').errors.required"
              >This field is required</span
            >
          </app-control-error>
        </div>
      </div>

      <!-- <div class="row align-items-center">
        <div class="col-6">
          <div class="row mb-3">
            <label class="col-4 col-form-label">Company</label>
            <div class="col-8" style="margin-top: 7px">
              {{ company?.companyName }}
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="clearfix" style="margin-bottom: 1em">
  <!-- <button
      type="button"
      class="btn btn-secondary float-end"
      (click)="addToGroup()"
    >
      Edit Group/Role
    </button> -->
  <button
    type="button"
    class="float-end"
    [ngStyle]="{
      backgroundColor: '#ffffff',
      width: '10em',
      color: '#' + (primaryColour || '3D95F7'),
      fontSize: '16px',
      border: '1px solid #' + (primaryColour || '3D95F7'),
      borderRadius: '10px',
      height: '35px'
    }"
    (click)="addToGroup()"
  >
    Edit Group/Role
  </button>
</div>

<ng-container *ngIf="groups">
  <ngx-datatable
    class="bootstrap table-bordered table-striped table-hover"
    #companyListTable
    [rows]="groups"
    [headerHeight]="50"
    [footerHeight]="50"
    [limit]="10"
    [columnMode]="'force'"
    [loadingIndicator]="false"
    [rowHeight]="'auto'"
  >
    <ngx-datatable-column name="Group Name" prop="roleName">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row["roleName"] }}
        <!-- <a href="javascript:void(0);">
                    {{ row['roleName'] }}
                </a> -->
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Status" prop="statusName">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row["statusName"] }}
      </ng-template>
    </ngx-datatable-column>

    <!-- <ngx-datatable-column name="Actions" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a href="javascript:void(0);" (click)="deleteHandler(row)">Delete</a>
      </ng-template>
    </ngx-datatable-column> -->
  </ngx-datatable>
</ng-container>

<div class="container-fluid">
  <div class="row rowing">
    <div class="col" style="padding: 1em 0">
      <button
        type="button"
        aria-label="Close"
        class="ms-4"
        [ngStyle]="{
          backgroundColor: '#fff',
          width: '10em',
          color: '#' + (primaryColour || '3D95F7'),
          fontSize: '16px',
          border: '1px solid #' + (primaryColour || '3D95F7'),
          borderRadius: '10px',
          height: '35px'
        }"
        (click)="onCancel.emit()"
      >
        Cancel
      </button>
      <!-- <button
          type="button"
          class="btn btn-danger"
          aria-label="Close"
          (click)="onCancel.emit()"
        >
          Cancel
        </button> -->
      <!-- <button
          type="button"
          class="btn btn-success float-end"
          (click)="saveHandler()"
        >
          Save
        </button> -->
      <button
        type="button"
        class="float-end"
        [ngStyle]="{
          backgroundColor: '#' + (primaryColour || '3D95F7'),
          width: '10em',
          color: '#ffffff',
          fontSize: '16px',
          border: '0',
          borderRadius: '10px',
          height: '35px'
        }"
        (click)="saveHandler()"
      >
        Save
      </button>
      <!-- [disabled]="form.invalid || form.pristine" -->
    </div>
  </div>
</div>
