<!-- <div class="container-fluid">
    <div class="row"> -->
        <!-- <div class="col clearfix"> -->
            <!-- <div class="float-end"> -->
                <button title="Print" type="button" style="background-color: white;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" class="btn btn-light" (click)="onPrint()">
                    <i class="material-icons" style="background-color: white;">print</i>
                </button>
                <button title="Save" type="button" style="background-color: white;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" class="btn btn-light ms-1" (click)="onSave()">
                    <i class="material-icons" style="background-color: white;">save</i>
                </button>
                <button title="Export" type="button" style="background-color: white;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;" class="btn btn-light ms-1" (click)="onExport()">
                    <i class="material-icons" style="background-color: white;">import_export</i>
                </button>
                <!-- <button title="Delete" type="button" class="btn btn-light" (click)="onDelete()">
                    <i class="material-icons">delete</i>
                </button> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div>
</div> -->