<ng-container *ngIf="!new; else fine">
  <app-combo-box-field
    (onBlur)="onTouched()"
    [formControl]="control"
    *ngIf="cities$ | progress | async as payload"
    [options]="payload.value"
    [loading]="payload.loading"
    [emptyMessage]="noContentMessage"
    [placeholder]="placeholder"
  ></app-combo-box-field>
</ng-container>

<ng-template #fine>
  <app-combo-select-field
    [formControl]="control"
    *ngIf="cities$ | progress | async as payload"
    [options]="payload.value"
    [loading]="payload.loading"
    [emptyMessage]="noContentMessage"
    [placeholder]="placeholder"
    (onBlur)="onTouched()"
    [defaultSelection]="defaultValue"
    (selectionChange)="onSelectionChange($event)"
  ></app-combo-select-field>
</ng-template>
