    <div class="row">
        
        <!-- <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1 nav-vertical " > -->
                <!-- <a class="nav-link link-width mb-1 p-0" [routerLink]="['./details']" routerLinkActive="active">Summary</a> -->
               <!-- <a class="nav-link link-width mb-1 p-0" [routerLink]="['./users']" routerLinkActive="active">Users</a>
                <a class="nav-link link-width mb-1 p-0" [routerLink]="['./assets']" routerLinkActive="active">Assets</a>
                <a class="nav-link link-width mb-1 p-0" [routerLink]="['./locations']" routerLinkActive="active" >Locations</a>
                <a class="nav-link link-width mb-1 p-0" [routerLink]="['./devices']" routerLinkActive="active" >Devices</a> -->
        <!-- </div> -->
        
        
        <!-- <div class="card col-sm-11 col-xs-11 col-md-11 col-lg-11 col-xl-11" > -->
            <!-- <div class="card-body" style="overflow:auto"> -->
                <router-outlet></router-outlet>
            <!-- </div> -->
        <!-- </div> -->

    </div>    
