<div
  class="container-fluid"
  [ngStyle]="{
    'font-family': formFont || 'Times New Roman, Times, serif',
    color: formFontColor || 'black',
    border: '1px solid ' + formBgColor,
    'background-color': formBgColor
  }"
  *ngIf="permission$ | async as payload"
>
  <div class="row justify-content-center align-items-center">
    <div
      class=""
      style="padding-right: 0px; padding-left: 0px"
      [ngStyle]="{
        'font-family': formFont || 'Times New Roman, Times, serif',
        color: formFontColor || 'black',
        border: '1px solid ' + formBgColor,
        'background-color': formBgColor
      }"
    >
      <div
        class="card col-sm-12 col-xs-12 col-md-12"
        [ngStyle]="{
          'font-family': formFont || 'Times New Roman, Times, serif',
          color: formFontColor || 'black',
          border: '1px solid ' + formBgColor,
          'background-color': formBgColor
        }"
      >
        <div class="card-body" style="overflow: auto">
          <div
            class="card"
            [ngStyle]="{
              'font-family': formFont || 'Times New Roman, Times, serif',
              color: formFontColor || 'black',
              border: '1px solid ' + formBgColor,
              'background-color': formBgColor
            }"
          >
            <!-- <div
    class="card-header font-weight-bold"
    style="font-weight: bolder; font-size: 1.3em"
    [ngStyle]="{
      'font-family': formFont || 'Times New Roman, Times, serif',
      color: '#' + (formColor || 'ff9900')
    }"
  >
    Group Details
  </div> -->
            <app-title
              class="card-header"
              title="Group Details"
              size="lg"
            ></app-title>
            <div
              class="card-body"
              [ngStyle]="{
                'font-family': formFont || 'Times New Roman, Times, serif'
              }"
            >
              <ng-container *ngIf="source$ | progress | async as payload">
                <ngx-skeleton-loader
                  *ngIf="payload.loading"
                  [count]="5"
                ></ngx-skeleton-loader>
                <!-- <app-control-error *ngIf="payload.error">{{
                  payload.error.message
                }}</app-control-error> -->
                <app-control-error *ngIf="payload.error"
                  >Unknown Error</app-control-error
                >

                <ng-container *ngIf="payload.value">
                  <div>
                    <ng-container *ngIf="edit">
                      <app-user-group-form
                        [group]="payload.value?.group"
                      ></app-user-group-form>
                    </ng-container>

                    <ng-container *ngIf="!edit">
                      <div
                        class="row"
                        style="padding-bottom: 1em; text-align: right"
                        *ngIf="permission$ | async as payload"
                      >
                        <div class="col" style="text-align: right">
                          <!-- <button
                  *ngIf="payload.security.groupRoles.updater"
                  type="button"
                  class="btn btn-outline-secondary col-md-6 col-xl-4 col-lg-4 float-end"
                  (click)="edit = !edit"
                >
                  Edit
                </button> -->
                          <button
                            *ngIf="payload.security.groupRoles.updater"
                            class="float-end"
                            [ngStyle]="{
                              backgroundColor: '#ffffff',
                              width: '10em',
                              color: '#' + (primaryColour || '3D95F7'),
                              fontSize: '16px',
                              border:
                                '1px solid #' + (primaryColour || '3D95F7'),
                              borderRadius: '10px',
                              height: '35px'
                            }"
                            (click)="edit = !edit"
                          >
                            Edit
                          </button>
                        </div>
                      </div>

                      <div>
                        <div class="row">
                          <div class="container">
                            <div class="row mb-3">
                              <label class="col-xs-6 col-md-3 col-lg-2 mb-3">Group/Role:</label>
                              <div class="col-xs-6 col-md-3 col-lg-2 mb-3">
                                {{ payload.value?.group?.roleName }}
                              </div>
                              <!-- </div>
                            <div class="row mb-3"> -->
                              <label class="col-xs-6 col-md-3 col-lg-2 mb-3">Description:</label>
                              <div class="col-xs-6 col-md-3 col-lg-2 mb-3">
                                {{ payload.value.group?.roleDesc }}
                              </div>
                              <!-- </div>

                            <div class="row mb-3"> -->
                              <label class="col-xs-6 col-md-3 col-lg-2 mb-3">Status:</label>
                              <div class="col-xs-6 col-md-3 col-lg-2 mb-3">
                                {{ payload.value.group?.statusName }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>

                  <div>
                    <div
                      *ngIf="edit"
                      class="row"
                      style="padding-bottom: 1em; text-align: right"
                    >
                      <div class="col" style="text-align: right">
                        <!-- <button
                type="button"
                class="btn btn-secondary float-end"
                (click)="addUserHandler()"
              >
                Add User
              </button> -->
                        <button
                          class="float-end me-4"
                          [ngStyle]="{
                            backgroundColor: '#' + (primaryColour || '3D95F7'),
                            width: '10em',
                            color: '#ffffff',
                            fontSize: '16px',
                            border: '0',
                            borderRadius: '10px',
                            height: '35px'
                          }"
                          (click)="addUserHandler()"
                        >
                          Add User
                        </button>
                      </div>
                    </div>

                    <ngx-datatable
                      class="bootstrap table-bordered table-striped table-hover"
                      #companyListTable
                      [rows]="payload.value?.users"
                      [headerHeight]="50"
                      [footerHeight]="50"
                      [limit]="10"
                      [columnMode]="'force'"
                      [loadingIndicator]="payload.loading"
                      [rowHeight]="'auto'"
                    >
                      <ngx-datatable-column name="Name" prop="firstName">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <!-- <a
                            href="javascript:void(0);"
                            placement="top"
                            [ngbTooltip]="row.deviceId"
                          > -->
                          {{ row["firstName"] }} {{ row["lastName"] }}
                          <!-- </a> -->
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Email" prop="emailAddress">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{ row["emailAddress"] }}
                        </ng-template>
                      </ngx-datatable-column>

                      <!-- <ngx-datatable-column name="Actions" [sortable]="false" *ngIf="edit">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <a
                            href="javascript:void(0);"
                            (click)="userDeleteHandler(row)"
                            >Delete</a
                          >
                        </ng-template>
                      </ngx-datatable-column> -->
                    </ngx-datatable>
                  </div>
                </ng-container>

                <div class="container-fluid" *ngIf="!payload.loading">
                  <div class="row rowing">
                    <div class="col" style="padding: 1em 0">
                      <!-- <button
              type="button"
              class="btn btn-danger"
              aria-label="Close"
              (click)="cancelHandler()"
            >
              Cancel
            </button> -->
                      <button
                        class="ms-4"
                        [ngStyle]="{
                          backgroundColor: '#fff',
                          width: '10em',
                          color: '#' + (primaryColour || '3D95F7'),
                          fontSize: '16px',
                          border: '1px solid #' + (primaryColour || '3D95F7'),
                          borderRadius: '10px',
                          height: '35px'
                        }"
                        (click)="cancelHandler()"
                      >
                        Cancel
                      </button>
                      <!-- <button
              type="button"
              *ngIf="edit"
              class="btn btn-success float-end"
              [disabled]="
                formElement?.form?.invalid || formElement?.form?.pristine
              "
              (click)="saveHandler()"
            >
              Save
            </button> -->
                      <button
                        class="float-end me-4"
                        *ngIf="edit"
                        [ngStyle]="{
                          backgroundColor: '#' + (primaryColour || '3D95F7'),
                          width: '10em',
                          color: '#ffffff',
                          fontSize: '16px',
                          border: '0',
                          borderRadius: '10px',
                          height: '35px'
                        }"
                        (click)="saveHandler()"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
