<div class="container-fluid">
  <!-- <br />
  <a [routerLink]="['../']"> Back </a>
  <br /> -->
  <div class="row mt-3">
    <div
      class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-2"
      *ngIf="userTypes$ | progress | async as payload"
    >
      <div
        class="card user-landing-card"
        style="
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        "
        [ngStyle]="{
          'font-family': formFont || 'Times New Roman, Times, serif'
        }"
      >
        <!-- <app-card> -->
        <!-- <strong>User Types</strong> <br/> -->
        <strong
          class="card-header"
          style="font-weight: bolder; font-size: 1.3em"
          [ngStyle]="{
            'font-family': formFont || 'Times New Roman, Times, serif',
            color: '#' + (formColor || 'ff9900')
          }"
          >User Types</strong
        >
        <div class="card-body">
          <ngx-datatable
            class="bootstrap table-bordered table-striped table-hover"
            #companyListTable
            [rows]="payload.value"
            [headerHeight]="50"
            [footerHeight]="50"
            [limit]="10"
            [columnMode]="'force'"
            [loadingIndicator]="payload.loading"
            [rowHeight]="'auto'"
          >
            <ngx-datatable-column name="First Name" prop="firstName">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row["firstName"] }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Last Name" prop="lastName">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row["lastName"] }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Label" prop="label">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row["label"] }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
        <!-- </app-card> -->
      </div>
    </div>

    <div
      class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-2"
      *ngIf="userStatus$ | progress | async as payload"
    >
      <div
        class="card user-landing-card"
        style="
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        "
        [ngStyle]="{
          'font-family': formFont || 'Times New Roman, Times, serif'
        }"
      >
        <!-- <app-card> -->
        <!-- <strong class="mb-4">User Status</strong> <br/> -->
        <strong
          class="card-header"
          style="font-weight: bolder; font-size: 1.3em"
          [ngStyle]="{
            'font-family': formFont || 'Times New Roman, Times, serif',
            color: '#' + (formColor || 'ff9900')
          }"
          >User Status</strong
        >
        <div class="card-body">
          <ngx-datatable
            class="bootstrap table-bordered table-striped table-hover"
            #companyListTable
            [rows]="payload.value"
            [headerHeight]="50"
            [footerHeight]="50"
            [limit]="10"
            [columnMode]="'force'"
            [loadingIndicator]="payload.loading"
            [rowHeight]="'auto'"
          >
            <ngx-datatable-column name="First Name" prop="firstName">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row["firstName"] }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Last Name" prop="lastName">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row["lastName"] }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Label" prop="label">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row["label"] }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
        <!-- </app-card> -->
      </div>
    </div>
  </div>
</div>
