// .boxing {
//     border: 1px dashed #ddd;
//     padding: 1em;
//     margin-bottom: 2em;
// }

.rowing {
  margin-bottom: 1em;
}

// button:hover#cancel {
//     font-weight: bolder;
//     background-color: #f11;
// }

button:disabled {
  opacity: 0.5;
}
