<div>
  <!-- [ngStyle]="{
  'font-family': formFont || 'Times New Roman, Times, serif',
  'color': '#' + (formColor || 'ff9900')
}" -->
  <div
    class="col-12 px-3"
    [ngStyle]="{
      'font-family': formFont || 'Times New Roman, Times, serif',
      color: formFontColor || 'black',
      border: '1px solid ' + formBgColor,
      'background-color': formBgColor
    }"
  >
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-12 col-xl-12 mb-2">
        <app-title title="Change Password" size="lg"></app-title>
      </div>
    </div>
  </div>
  <app-password-change
    [selectable]="isAdmin"
    (onSave)="saveHandler($event)"
    [loginIn]="user?.loginId"
    [subdomain]="company?.companyId"
  >
  </app-password-change>
</div>
<!-- [ngStyle]="{
  'font-family': formFont || 'Times New Roman, Times, serif',
  'color': '#' + (formColor || 'ff9900')
}" -->
