

button.btn-success:hover {
    font-weight: bolder;
}

button.btn-danger:hover {
    font-weight: bolder;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
  }