.map-container {
    position: static;
    height: 30em;
}

.map-frame {
    height: 100%;
}

#mapGeoundefined {
    height: 100%;
}

#mapGeo1 {
    height: 100%;
}

#mapGeo2 {
    height: 100%;
}

#mapGeo3 {
    height: 100%;
}

#mapGeo4 {
    height: 100%;
}

#mapGeo5 {
    height: 100%;
}

#mapGeo6 {
    height: 100%;
}

#mapGeo7 {
    height: 100%;
}

#mapGeo8 {
    height: 100%;
}

#mapGeo9 {
    height: 100%;
}

#mapGeo10 {
    height: 100%;
}

#mapGeo11 {
    height: 100%;
}

#mapGeo12 {
    height: 100%;
}

#mapGeo13 {
    height: 100%;
}

#mapGeo14 {
    height: 100%;
}

#mapGeo15 {
    height: 100%;
}

#mapGeo16 {
    height: 100%;
}

#mapGeo17 {
    height: 100%;
}

#mapGeo18 {
    height: 100%;
}

#mapGeo19 {
    height: 100%;
}

#mapGeo21 {
    height: 100%;
}

#mapGeo22 {
    height: 100%;
}

#mapGeo23 {
    height: 100%;
}

#mapGeo24 {
    height: 100%;
}

#mapGeo25 {
    height: 100%;
}

#mapGeo26 {
    height: 100%;
}

#mapGeo27 {
    height: 100%;
}

#mapGeo28 {
    height: 100%;
}

#mapGeo29 {
    height: 100%;
}

#mapGeo20 {
    height: 100%;
}

#mapGeo30 {
    height: 100%;
}

#mapGeo31 {
    height: 100%;
}

#mapGeo32 {
    height: 100%;
}

#mapGeo33 {
    height: 100%;
}

#mapGeo34 {
    height: 100%;
}

#mapGeo35 {
    height: 100%;
}

#mapGeo36 {
    height: 100%;
}

#mapGeo37 {
    height: 100%;
}

#mapGeo38 {
    height: 100%;
}

#mapGeo39 {
    height: 100%;
}

#mapGeo40 {
    height: 100%;
}

#mapGeo41 {
    height: 100%;
}

#mapGeo42 {
    height: 100%;
}

#mapGeo43 {
    height: 100%;
}

#mapGeo44 {
    height: 100%;
}

#mapGeo45 {
    height: 100%;
}

#mapGeo46 {
    height: 100%;
}

#mapGeo47 {
    height: 100%;
}

#mapGeo48 {
    height: 100%;
}

#mapGeo49 {
    height: 100%;
}

#mapGeo50 {
    height: 100%;
}

#mapGeo51 {
    height: 100%;
}

#mapGeo52 {
    height: 100%;
}

#mapGeo53 {
    height: 100%;
}

#mapGeo54 {
    height: 100%;
}

#mapGeo55 {
    height: 100%;
}

#mapGeo56 {
    height: 100%;
}

#mapGeo57 {
    height: 100%;
}

#mapGeo58 {
    height: 100%;
}

#mapGeo59 {
    height: 100%;
}

#mapGeo60 {
    height: 100%;
}

#mapGeo61 {
    height: 100%;
}

#mapGeo62 {
    height: 100%;
}

#mapGeo63 {
    height: 100%;
}

#mapGeo64 {
    height: 100%;
}

#mapGeo65 {
    height: 100%;
}

#mapGeo66 {
    height: 100%;
}

#mapGeo67 {
    height: 100%;
}

#mapGeo68 {
    height: 100%;
}

#mapGeo69 {
    height: 100%;
}

#mapGeo70 {
    height: 100%;
}

#mapGeo71 {
    height: 100%;
}

#mapGeo72 {
    height: 100%;
}

