<div class="card pointer">
  <div class="card-header">
    <div class="d-flex justify-content-between" style="height: 40px">
      <span>{{ title }}</span>
      <div
        class="d-flex justify-content-center align-items-center float-end bg-icons"
      >
        <button
          mat-icon-button
          (click)="minimize()"
          aria-label="Minimize"
          class="icon-btn"
        >
          <mat-icon style="color: black">minimize</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="maximize()"
          class="icon-btn"
          aria-label="Maximize"
        >
          <mat-icon style="color: black">check_box_outline_blank</mat-icon>
        </button>
        <!-- [disabled]="!device.subscrValid" -->
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="menu"
          class="icon-btn"
        >
          <mat-icon style="color: black">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!-- <button mat-menu-item (click)="settings(device)">
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button> -->
          <button mat-menu-item (click)="dataDetails()">
            <mat-icon>insights</mat-icon>
            <span>Data Details</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <canvas
    #canvas
    width="400"
    height="400"
    style="border: 1px solid #8080801f"
  ></canvas>
  <div class="d-flex justify-content-center fw-bold">{{ level.toFixed(2) }} mm</div>
</div>
