<div class="container-fluid" style="margin: 5px 0">
  <div class="row justify-content-center align-items-center">
    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="container-fluid main-body">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-xl-12 div-border" style="margin-top: 5px;">
                    <div class="row" *ngIf="permission$ | async as payload">
                        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-2 col-xl-2 nav-vertical"
                            style="padding-top:15px;background-color: #fff;padding-bottom:15px">
                            <nav class=" navbar navbar-expand-lg navbar-light nav nav-pills flex-column "
                                style="height: 100%;">
                                <a *ngIf="payload.security.changePassword.menuAccess" class="nav-link link-width mb-1" [routerLink]="['change-password']"
                                    routerLinkActive="active">Change Password</a>
                                <a  class="nav-link link-width mb-1" [routerLink]="['user-device-access']"
                                    routerLinkActive="active">User Device Access</a>
                                <a  class="nav-link link-width mb-1" [routerLink]="['users']"
                                    routerLinkActive="active">Users</a>
                                <a  class="nav-link link-width mb-1" [routerLink]="['user-groups']"
                                    routerLinkActive="active">Group/Roles</a>
                                <a  class="nav-link link-width mb-1" [routerLink]="['role-authorization']"
                                    routerLinkActive="active">Role Authorization</a>
                                
                                
                            </nav>
                        </div> -->

    <!-- <div
      class="card col-sm-12 col-xs-12 col-md-10"
      style="
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      "
      [ngStyle]="{
        'font-family': formFont || 'Times New Roman, Times, serif'
      }"
    > -->
    <div
      class="card col-sm-12 col-xs-12 col-md-11 px-0"
      style="
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      "
    >
      <div class="" style="overflow: auto">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div>
                </div>
            </div>
        </div> -->
  </div>
</div>
