<div [formGroup]="form">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <strong>From</strong>
        </div>
        <div class="col-sm-4">
            <strong>To</strong>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Company Date</label>
        <div class="col-sm-4">
            <app-date-field #fromDate [max]="toDate?.rawValue" formControlName="from" placeholder="From">
            </app-date-field>
            <app-control-error *ngIf="form.get('from').invalid && form.get('from').touched">
                <span *ngIf="form.get('from').errors.required">This field is required.</span>
            </app-control-error>
        </div>
        <div class="col-sm-4">
            <app-date-field #toDate [min]="fromDate?.rawValue" formControlName="to" placeholder="To"></app-date-field>
            <app-control-error *ngIf="form.get('to').invalid && form.get('to').touched">
                <span *ngIf="form.get('to').errors.required">This field is required.</span>
            </app-control-error>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">State</label>
        <div class="col-sm-4">
            <app-state-field formControlName="fromState" placeholder="Select state" (change)="fromStateFn($event)" ></app-state-field>
            <app-control-error *ngIf="form.get('fromState').invalid && form.get('fromState').touched">
                <span *ngIf="form.get('fromState').errors.required">This field is required.</span>
            </app-control-error>
        </div>
        <div class="col-sm-4">
            <app-state-field formControlName="toState" placeholder="Select state" [fromStateFn]="fromState" (change)="toStateFn($event)"  ></app-state-field>
            <app-control-error *ngIf="form.get('toState').invalid && form.get('toState').touched">
                <span *ngIf="form.get('toState').errors.required">This field is required.</span>
            </app-control-error>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-4">
            <app-city-field formControlName="fromCity" [stateId]="form.value?.fromState" (change)="fromCityFn($event)" [fromState]="fromState" [toState]="toState" placeholder="Select city">
            </app-city-field>
            <app-control-error *ngIf="form.get('fromCity').invalid && form.get('fromCity').touched">
                <span *ngIf="form.get('fromCity').errors.required">This field is required.</span>
            </app-control-error>
        </div>
        <div class="col-sm-4">
            <app-city-field formControlName="toCity" [stateId]="form.value?.toState" [fromCityFn]="fromCity" [fromState]="fromState" [toState]="toState" placeholder="Select city">
            </app-city-field>
            <app-control-error *ngIf="form.get('toCity').invalid && form.get('toCity').touched">
                <span *ngIf="form.get('toCity').errors.required">This field is required.</span>
            </app-control-error>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Company Type</label>
        <div class="col-sm-4">
            <app-company-type-field formControlName="typeId" placeholder="Company type"></app-company-type-field>
            <app-control-error *ngIf="form.get('typeId').invalid && form.get('typeId').touched">
                <span *ngIf="form.get('typeId').errors.required">This field is required.</span>
            </app-control-error>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-4">
            <app-status-field formControlName="statusId"></app-status-field>
            <app-control-error *ngIf="form.get('statusId').invalid && form.get('statusId').touched">
                <span *ngIf="form.get('statusId').errors.required">This field is required.</span>
            </app-control-error>
        </div>
    </div>

</div>