<div class="container-fluid" style="margin: 5px 0">
  <div class="row justify-content-center align-items-center">
    <div class="" style="padding-right: 0px; padding-left: 0px">
      <!-- <div class="card col-12">
        <div class="card-body box" style="overflow: auto"> -->
      <div *ngIf="permission$ | async as payload">
        <div *ngIf="payload.security.users.menuAccess">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row justify-content-center align-items-center">
              <div class="col-md-4">
                <!-- <span
            style="font-weight: bolder; font-size: 1.3em"
            [ngStyle]="{
              'font-family': formFont || 'Times New Roman, Times, serif',
              color: '#' + (formColor || 'ff9900')
            }"
          >
            User Directory
          </span> -->
                <app-title title="User Directory" size="lg"></app-title>
              </div>
              <div class="col-md-6">
                <form class="nosubmit float-end">
                  <input
                    type="text"
                    style="
                      padding: 4px;
                      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                      margin-left: 2em;
                    "
                    placeholder="Search..."
                    [formControl]="searchField"
                    class="nosubmit"
                  />
                </form>
              </div>
              <div class="col-2">
                <!-- <button
            *ngIf="payload.security.users.creater"
            type="button"
            style="margin-left: 1em; padding: 4px"
            class="btn btn-secondary float-end"
            (click)="addUserHandler()"
          >
            Add user
          </button> -->
                <button
                  *ngIf="payload.security.users.creater"
                  [ngStyle]="{
                    backgroundColor: '#' + (primaryColour || '3D95F7'),
                    width: '10em',
                    color: '#ffffff',
                    fontSize: '16px',
                    border: '0',
                    borderRadius: '10px',
                    height: '35px'
                  }"
                  (click)="addUserHandler()"
                >
                  Add user
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div
              class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
              *ngIf="users$ | progress | async as payload"
            >
              <!-- <ngx-skeleton-loader
                *ngIf="payload.loading"
                [count]="5"
              ></ngx-skeleton-loader>
              <app-control-error *ngIf="payload.error">Unknown Error</app-control-error>
              <ng-container *ngIf="payload.value">
                <ngx-datatable
                  class="bootstrap table-bordered table-striped table-hover"
                  #companyListTable
                  [rows]="payload.value"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [limit]="10"
                  [columnMode]="'force'"
                  [loadingIndicator]="payload.loading"
                  [rowHeight]="'auto'"
                > -->
                 
                <ngx-skeleton-loader
                    *ngIf="payload.loading"
                    [count]="5"
                  ></ngx-skeleton-loader>
                  <app-control-error *ngIf="payload.error">Unknown Error</app-control-error>
                  <ng-container *ngIf="payload.value">
                    <ngx-datatable
                      class="bootstrap table-bordered table-striped table-hover"
                      #companyListTable
                      [rows]="payload.value"
                      [headerHeight]="50"
                      [footerHeight]="50"
                      [limit]="10"
                      [columnMode]="'force'"
                      [loadingIndicator]="payload.loading"
                      [rowHeight]="'auto'"
                    >
                      <ngx-datatable-column name="User Name" prop="firstName">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <a
                            href="javascript:void(0);"
                            (click)="openDetails(row)"
                            placement="top"
                            [ngbTooltip]="row.deviceId"
                          >
                            {{ row["firstName"] }} {{ row["lastName"] }}
                          </a>
                        </ng-template>
                      </ngx-datatable-column>

                  <ngx-datatable-column name="Company" prop="companyName">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row["companyName"] }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="User Type" prop="userTypeName">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row["userTypeName"] }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Location" prop="locationName">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row["locationName"] }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Status" prop="statusName">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row["statusName"] }}
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!-- </div>
      </div> -->
    </div>
  </div>
</div>
