<div
  class="container-fluid"
  style="margin: 5px 0; padding-right: 0px; padding-left: 0px"
>
  <div class="row justify-content-center align-items-center">
    <div class="" style="padding-right: 0px; padding-left: 0px">
      <div class="card col-12">
        <div class="card-body box" style="overflow: auto">
          <ng-container *ngIf="company$ | progress | async as payload">
            <ngx-skeleton-loader
              count="5"
              *ngIf="payload.loading"
            ></ngx-skeleton-loader>
            <p *ngIf="payload.error" style="color: red">
              Network connectivity issue
            </p>

            <ng-container *ngIf="payload.value">
              <div
                class="card"
                [ngStyle]="{
                  border: '1px solid ' + formBgColor,
                  'background-color': formBgColor,
                  color: formFontColor || 'black',
                  'font-family': formFont || 'Times New Roman, Times, serif'
                }"
              >
                <div class="card-header">
                  <app-title title="Company Details" size="lg"></app-title>
                </div>
                <div class="card-body">
                  <form [formGroup]="companyDetailsForm">
                    <div
                      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                    >
                      <div class="row" *ngIf="!editMode">
                        <div
                          class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-2"
                          *ngIf="permission$ | async as payload"
                        >
                          <!-- <button
                            (click)="edit()"
                            *ngIf="payload.companyManagement.company.updater"
                            class="btn btn-outline-secondary col-md-6 col-xl-4 col-lg-4 float-end"
                          >
                            Edit
                          </button> -->

                          <button
                            *ngIf="payload.companyManagement.company.updater"
                            class="float-end"
                            [ngStyle]="{
                              backgroundColor: '#ffffff',
                              width: '10em',
                              color: '#' + (primaryColour || '3D95F7'),
                              fontSize: '16px',
                              border:
                                '1px solid #' + (primaryColour || '3D95F7'),
                              borderRadius: '10px',
                              height: '35px'
                            }"
                            (click)="edit()"
                          >
                            Edit
                          </button>
                        </div>
                      </div>

                      <div class="row">
                        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> -->
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <div class="row mb-3">
                            <div
                              class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
                            >
                              <label class="form-check-label" *ngIf="!editMode"
                                >Name</label
                              >
                            </div>
                            <div class="col-xs-6 col-md-6" *ngIf="!editMode">
                              <span>{{ payload.value.type?.companyName }}</span>
                            </div>
                            <mat-form-field
                              class="col-12"
                              appearance="outline"
                              *ngIf="editMode"
                              ><mat-label
                                [ngStyle]="{
                                  color: formFontColor || 'black',

                                  'font-family':
                                    formFont || 'Times New Roman, Times, serif'
                                }"
                                >Name</mat-label
                              >
                              <input
                                matInput
                                [ngStyle]="{
                                  color: formFontColor || 'black',
                                  'background-color': formBgColor
                                }"
                                placeholder="Company Name"
                                formControlName="companyName"
                            /></mat-form-field>
                          </div>

                          <div class="row mb-3">
                            <div
                              class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
                            >
                              <label *ngIf="!editMode" class="form-check-label"
                                >Description</label
                              >
                            </div>
                            <div
                              *ngIf="!editMode"
                              class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
                            >
                              <span>{{ payload.value.type?.companyDesc }}</span>
                            </div>
                            <mat-form-field
                              *ngIf="editMode"
                              class="col-12"
                              appearance="outline"
                              ><mat-label
                                [ngStyle]="{
                                  color: formFontColor || 'black',

                                  'font-family':
                                    formFont || 'Times New Roman, Times, serif'
                                }"
                                >Description</mat-label
                              >
                              <input
                                matInput
                                [ngStyle]="{
                                  color: formFontColor || 'black',
                                  'background-color': formBgColor
                                }"
                                formControlName="companyDesc"
                                placeholder="Description"
                            /></mat-form-field>
                          </div>
                          <div class="row mb-3">
                            <div
                              class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
                            >
                              <label class="form-check-label" *ngIf="!editMode"
                                >Time Zone</label
                              >
                            </div>
                            <div
                              class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
                              *ngIf="!editMode"
                            >
                              <span>{{ payload.value.type?.timeZone }}</span>
                            </div>
                            <mat-form-field
                              *ngIf="editMode"
                              class="col-12"
                              appearance="outline"
                              ><mat-label
                                [ngStyle]="{
                                  color: formFontColor || 'black',

                                  'font-family':
                                    formFont || 'Times New Roman, Times, serif'
                                }"
                                >Time Zone</mat-label
                              >
                              <input
                                matInput
                                [ngStyle]="{
                                  color: formFontColor || 'black',
                                  'background-color': formBgColor
                                }"
                                formControlName="timeZone"
                                placeholder="Time Zone"
                            /></mat-form-field>
                          </div>

                          <div class="row mb-3">
                            <div
                              class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
                            >
                              <label *ngIf="!editMode" class="form-check-label"
                                >Address
                              </label>
                            </div>
                            <div
                              *ngIf="!editMode"
                              class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
                            >
                              <span>{{
                                payload.value.type?.companyAddress
                              }}</span>
                            </div>
                            <mat-form-field
                              *ngIf="editMode"
                              class="col-12"
                              appearance="outline"
                              ><mat-label
                                [ngStyle]="{
                                  color: formFontColor || 'black',

                                  'font-family':
                                    formFont || 'Times New Roman, Times, serif'
                                }"
                                >Address</mat-label
                              >
                              <input
                                matInput
                                [ngStyle]="{
                                  color: formFontColor || 'black',
                                  'background-color': formBgColor
                                }"
                                formControlName="companyAddress1"
                                placeholder="Address 1"
                            /></mat-form-field>
                          </div>
                          <!-- <div class="row mb-3">
                            <div
                              class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
                            >
                              <label class="form-check-label">Address 2</label>
                            </div>
                            <div
                              class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
                            >
                              <span *ngIf="!editMode"> </span>
                              <input
                                *ngIf="editMode"
                                class="form-control"
                                placeholder="Address 2"
                              />
                            </div>
                          </div> -->
                          <div class="row mb-3">
                            <div
                              *ngIf="!editMode"
                              class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
                            >
                              <label class="form-check-label"
                                >Company Domain</label
                              >
                            </div>
                            <div
                              *ngIf="!editMode"
                              class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
                            >
                              {{ payload.value.type?.subdomaIn }}
                            </div>
                          </div>
                        </div>

                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <div class="row mb-3">
                            <div
                              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            >
                              <label *ngIf="!editMode" class="form-check-label"
                                >Company Status</label
                              >
                            </div>
                            <div
                              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            >
                              <span *ngIf="!editMode">{{
                                payload.value.type?.statusId === "A"
                                  ? "ACTIVE"
                                  : "INACTIVE"
                              }}</span>
                            </div>
                            <app-status-field
                              class="col-12"
                              *ngIf="editMode"
                              formControlName="statusId"
                              placeholder="Select Status..."
                              [new]="true"
                              [defaultValue]="payload.value.type?.statusId"
                              (selectionChange)="
                                companyDetailsForm.patchValue({
                                  statusId: $event.value
                                })
                              "
                            >
                            </app-status-field>
                          </div>

                          <div class="row mb-3">
                            <div
                              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            >
                              <label *ngIf="!editMode" class="form-check-label"
                                >Phone Number</label
                              >
                            </div>
                            <div
                              *ngIf="!editMode"
                              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            >
                              <span>{{
                                payload.value.companyUser[0]?.adminPryPhoneNo
                              }}</span>
                            </div>
                            <mat-form-field
                              *ngIf="editMode"
                              class="col-12"
                              appearance="outline"
                              ><mat-label
                                [ngStyle]="{
                                  color: formFontColor || 'black',

                                  'font-family':
                                    formFont || 'Times New Roman, Times, serif'
                                }"
                                >Phone Number</mat-label
                              >
                              <input
                                matInput
                                [ngStyle]="{
                                  color: formFontColor || 'black',
                                  'background-color': formBgColor
                                }"
                                formControlName="adminPryPhoneNo"
                                placeholder="Phone Number"
                            /></mat-form-field>
                          </div>

                          <div class="row mb-3">
                            <div
                              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            >
                              <label *ngIf="!editMode" class="form-check-label"
                                >Alt Phone Number</label
                              >
                            </div>
                            <div
                              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            >
                              <span *ngIf="!editMode">{{
                                payload.value.companyUser[0]?.adminAltPhoneNo
                              }}</span>
                            </div>
                            <mat-form-field
                              *ngIf="editMode"
                              class="col-12"
                              appearance="outline"
                              ><mat-label
                                [ngStyle]="{
                                  color: formFontColor || 'black',

                                  'font-family':
                                    formFont || 'Times New Roman, Times, serif'
                                }"
                                >Alt Phone Number</mat-label
                              >
                              <input
                                matInput
                                [ngStyle]="{
                                  color: formFontColor || 'black',
                                  'background-color': formBgColor
                                }"
                                formControlName="adminAltPhoneNo"
                                placeholder="Alt Phone Number"
                            /></mat-form-field>
                          </div>

                          <div class="row mb-3">
                            <div
                              *ngIf="!editMode"
                              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            >
                              <label class="form-check-label"
                                >Parent Company</label
                              >
                            </div>
                            <div
                              *ngIf="!editMode"
                              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            >
                              {{ parentCompany }}
                            </div>
                            <mat-form-field
                              *ngIf="editMode"
                              class="col-12"
                              appearance="outline"
                              ><mat-label
                                [ngStyle]="{
                                  color: formFontColor || 'black',

                                  'font-family':
                                    formFont || 'Times New Roman, Times, serif'
                                }"
                                >Parent Company</mat-label
                              >
                              <input
                                matInput
                                [ngStyle]="{
                                  color: formFontColor || 'black',
                                  'background-color': formBgColor
                                }"
                                readonly=""
                                [value]="parentCompany"
                            /></mat-form-field>
                          </div>

                          <div class="row mb-3">
                            <div
                              *ngIf="!editMode"
                              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            >
                              <label class="form-check-label"
                                >Company Url</label
                              >
                            </div>
                            <div
                              *ngIf="!editMode"
                              class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                            >
                              <a [href]="companyUrl" target="blank">{{
                                company.type.companyUrl
                              }}</a>
                            </div>
                          </div>
                        </div>
                        <!-- </div> -->
                      </div>

                      <!-- <div class="row"></div> -->
                    </div>
                  </form>
                </div>
              </div>
              <br />

              <div class="card">
                <div class="card-body">
                  <div
                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                  >
                    <div class="row">
                      <div
                        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2"
                      >
                        <button
                          class="float-end"
                          [ngStyle]="{
                            backgroundColor: '#' + (primaryColour || '3D95F7'),
                            width: '12em',
                            color: '#ffffff',
                            fontSize: '13px',
                            border: '0',
                            borderRadius: '10px',
                            height: '35px'
                          }"
                          (click)="addBranchOrLocation()"
                        >
                          Add Branch or Location
                        </button>

                        <!-- <button
                        class="btn btn-secondary col-md-6 col-xl-4 col-lg-4 float-end"
                        (click)="addBranchOrLocation()"
                      >
                        Add Branch or Location
                      </button> -->
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                      >
                        <ngx-datatable
                          class="bootstrap table-bordered table-striped table-hover"
                          [rows]="payload.value.companyLocation"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [limit]="10"
                          [loadingIndicator]="payload.loading"
                          [columnMode]="'force'"
                          [rowHeight]="'auto'"
                        >
                          <ngx-datatable-column
                            name="Branch Name"
                            prop="locationName"
                          >
                            <ng-template
                              let-row="row"
                              ngx-datatable-cell-template
                            >
                              <a
                                href="javascript:void(0);"
                                (click)="viewBranchOrLocation(row)"
                              >
                                {{ row["locationName"] }}
                              </a>
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column
                            name="Address"
                            prop="locationAddress"
                          >
                            <ng-template
                              let-row="row"
                              ngx-datatable-cell-template
                            >
                              {{ row["locationAddress"] }}
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column
                            name="Actions"
                            [sortable]="false"
                            style="text-align: right"
                          >
                            <ng-template
                              let-row="row"
                              ngx-datatable-cell-template
                            >
                              <a
                                href="javascript:void(0);"
                                (click)="locationDeleteHandler(row)"
                                >Delete</a
                              >
                            </ng-template>
                          </ngx-datatable-column>
                        </ngx-datatable>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mt-4">
                <div class="card-body">
                  <div
                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                  >
                    <div class="row">
                      <div
                        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2"
                      >
                        <button
                          class="float-end"
                          [ngStyle]="{
                            backgroundColor: '#' + (primaryColour || '3D95F7'),
                            width: '12em',
                            color: '#ffffff',
                            fontSize: '13px',
                            border: '0',
                            borderRadius: '10px',
                            height: '35px'
                          }"
                          (click)="addContact()"
                        >
                          Add contact
                        </button>
                        <!-- <button
                        class="btn btn-secondary col-md-6 col-xl-4 col-lg-4 float-end"
                        (click)="addContact()"
                      >
                        Add contact
                      </button> -->
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                      >
                        <ngx-datatable
                          class="bootstrap table-bordered table-striped table-hover"
                          [rows]="payload.value.companyUser"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [limit]="10"
                          [loadingIndicator]="payload.loading"
                          [columnMode]="'force'"
                          [rowHeight]="'auto'"
                        >
                          <ngx-datatable-column name="Name" prop="firstName">
                            <ng-template
                              let-row="row"
                              ngx-datatable-cell-template
                            >
                              <a
                                href="javascript:void(0);"
                                (click)="viewContact(row)"
                              >
                                {{ row["firstName"] }} {{ row["lastName"] }}
                              </a>
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column
                            name="Email"
                            prop="emailAddress"
                          >
                            <ng-template
                              let-row="row"
                              ngx-datatable-cell-template
                            >
                              {{ row["emailAddress"] }}
                            </ng-template>
                          </ngx-datatable-column>

                          <ngx-datatable-column
                            name="Actions"
                            [sortable]="false"
                            style="text-align: right"
                          >
                            <ng-template
                              let-row="row"
                              ngx-datatable-cell-template
                            >
                              <a
                                href="javascript:void(0);"
                                (click)="contactDeleteHandler(row)"
                                >Delete</a
                              >
                            </ng-template>
                          </ngx-datatable-column>
                        </ngx-datatable>
                      </div>
                    </div>
                  </div>
                  <br />
                </div>
                <div class="row"></div>
              </div>

              <br />

              <!-- <div class="container-fluid"> -->
              <div class="card">
                <div class="row rowing">
                  <div
                    class="col"
                    style="padding: 1em 0"
                    *ngIf="permission$ | async as payload"
                  >
                    <!-- <button class="btn btn-danger" (click)="onCancel()">
                    Cancel
                  </button> -->
                    <button
                      class="ms-4"
                      [ngStyle]="{
                        backgroundColor: '#fff',
                        width: '10em',
                        color: '#' + (primaryColour || '3D95F7'),
                        fontSize: '16px',
                        border: '1px solid #' + (primaryColour || '3D95F7'),
                        borderRadius: '10px',
                        height: '35px'
                      }"
                      (click)="onCancel()"
                    >
                      Cancel
                    </button>
                    <!-- <button
                    *ngIf="payload.companyManagement.company.updater"
                    class="btn btn-success ms-2 float-end"
                    (click)="onSubmit()"
                  >
                    Submit
                  </button> -->
                    <button
                      class="float-end me-4"
                      *ngIf="payload.companyManagement.company.updater"
                      [ngStyle]="{
                        backgroundColor: '#' + (primaryColour || '3D95F7'),
                        width: '10em',
                        color: '#ffffff',
                        fontSize: '16px',
                        border: '0',
                        borderRadius: '10px',
                        height: '35px'
                      }"
                      (click)="onSubmit()"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
