<!-- <section class="login">
  <div class="container mt45">
    <div class="login-form login-background" style="background-color: #eee;">
      <div class="mb-3 d-flex justify-content-center">
        <span style="padding: 4px; margin: 8px auto; font-size: 1.3em; font-weight: bold; color: #ff7c21;">
            RESET PASSWORD
        </span>
      </div>
      <form [formGroup]="forgotForm">
        <div class="mb-3 row d-flex justify-content-center">
          <div class="col-9">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
              </span>
              <input
                type="text"
                placeholder="LoginId"
                class="form-control"
                formControlName="userId"
                aria-placeholder="enter the LoginId"
              />
            </div>
            <div
              *ngIf="
                forgotForm.get('userId').invalid &&
                (forgotForm.get('userId').dirty ||
                  forgotForm.get('userId').touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="forgotForm.get('userId').errors.required">
                LoginId is required.
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 row d-flex justify-content-center">
          <div class="col-9">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <fa-icon [icon]="['fas', 'lock']"></fa-icon>
              </span>
              <input
                type="password"
                placeholder="Password"
                class="form-control"
                formControlName="password"
                aria-placeholder="enter the password"
              />
            </div>
            <div
              *ngIf="
                forgotForm.get('password').invalid &&
                (forgotForm.get('password').dirty ||
                  forgotForm.get('password').touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="forgotForm.get('password').errors.required">
                Password is required.
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 row d-flex justify-content-center">
          <div class="col-9">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <fa-icon [icon]="['fas', 'lock']"></fa-icon>
              </span>
              <input
                type="password"
                placeholder="Confirm Password"
                class="form-control"
                formControlName="confirm_password"
                aria-placeholder="enter confirm password"
              />
            </div>
            <div
              *ngIf="
                forgotForm.get('confirm_password').invalid &&
                (forgotForm.get('confirm_password').dirty ||
                  forgotForm.get('confirm_password').touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="forgotForm.get('confirm_password').errors.required">
                Confirm Password is required.
              </div>
              <div
                *ngIf="
                  forgotForm.get('confirm_password').errors.validatePassword
                "
              >
                Password did not match.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="button">
              <button
                class="btn btn-info float-end"
                [disabled]="!forgotForm.valid || isLoading"
                (click)="forgotPassword()"
              >
                <div
                  *ngIf="isLoading"
                  class="spinner-border spinner-border-sm"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>
                Reset Password
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section> -->

<section class="vh-100" style="max-height: 83vh !important">
  <img
    src="assets/images/Smart-City.jpg"
    class="img-fluid bg-image"
    style="height: 100% !important; width: 1366px !important"
  />
  <div class="container bg-text">
    <div class="row d-flex justify-content-center align-items-center">
      <div
        class="col col-md-8 d-flex justify-content-center align-items-center"
        style="max-height: 80vh !important"
      >
        <!-- <div
          class="col-md-5 col-lg-5 d-none d-md-block px-0"
          style="max-height: 100% !important"
        >
          <img
            src="assets/images/Rectangle 11.png"
            alt="login form"
            class="img-fluid"
            style="
              border-radius: 1rem 0 0 1rem;
              max-height: 100% !important;
              width: 71vh;
            "
          />
        </div> -->
        <div
          class="white col-md-10 col-lg-7 justify-content-center align-items-center px-0"
          style="
            max-height: 100% !important;
            border-radius: 1rem 1rem 1rem 1rem;
          "
          [ngStyle]="{
            border: '1px solid ' + formFontColor,
            'background-color': formBgColor,
            color: formFontColor || 'black',
            'font-family': formFont
          }"
        >
          <div class="px-0 mx-0" style="height: 100% !important">
            <div class="row g-0 px-0 py-0 mx-0" style="height: 100%">
              <div
                class="d-flex d-md-block align-items-center"
                style="border-radius: 0 1rem 1rem 0"
              >
                <div
                  class="p-4 p-lg-5 text-black justify-content-center align-items-center"
                  style="height: 100% !important"
                >
                  <form [formGroup]="forgotForm">
                    <!-- <div class="d-flex align-items-center mb-3 pb-1">
                      <img
                        src="/assets/images/Login_Logo.png"
                        alt="login form"
                        class="img"
                      />
                    </div>

                    <h5
                      style="
                        width: 90px;
                        height: 16px;
                        left: 660.92px;
                        top: 259.22px;

                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13.7333px;
                        line-height: 16px;
                      "
                    >
                      oops
                    </h5> -->

                    <h5
                      class="fw-bolder mb-3 pb-3"
                      style="
                        width: 251px;
                        height: 30px;
                        left: 660.92px;
                        top: 278.96px;

                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25.75px;
                        line-height: 30px;
                      "
                      [ngStyle]="{
                        'font-family': formFont,
                        color: formFontColor || 'black'
                      }"
                    >
                      Reset Password
                    </h5>
                    <div class="mb-4">
                      <div class="input-group form-outline">
                        <span
                          class="input-group-text"
                          [ngStyle]="{
                            'background-color': formBgColor,
                            color: formFontColor || 'black',
                            border: '1px solid ' + formFontColor
                          }"
                        >
                          <fa-icon [icon]="['fas', 'address-card']"></fa-icon>
                        </span>
                        <input
                          type="text"
                          placeholder="Login ID"
                          class="form-control"
                          formControlName="userId"
                          aria-placeholder="enter the LoginId"
                          style="
                            left: 0%;
                            right: 83.02%;
                            top: 0%;
                            bottom: 91.33%;

                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13.7333px;
                            line-height: 16px;
                          "
                          [style]="{
                            border:
                              forgotForm.get('userId').invalid &&
                              (forgotForm.get('userId').dirty ||
                                forgotForm.get('userId').touched)
                                ? '1px solid red'
                                : ''
                          }"
                          [ngStyle]="{
                            'background-color': formBgColor,
                            color: formFontColor || 'black',
                            border: '1px solid ' + formFontColor
                          }"
                        />
                      </div>
                      <div
                        *ngIf="
                          forgotForm.get('userId').invalid &&
                          (forgotForm.get('userId').dirty ||
                            forgotForm.get('userId').touched)
                        "
                        class="alert alert-danger mt-1"
                      >
                        <div *ngIf="forgotForm.get('userId').errors.required">
                          *Login ID is required.
                        </div>
                      </div>
                    </div>

                    <div class="mb-4">
                      <div class="input-group form-outline">
                        <span
                          class="input-group-text"
                          [ngStyle]="{
                            'background-color': formBgColor,
                            color: formFontColor || 'black',
                            border: '1px solid ' + formFontColor
                          }"
                        >
                          <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                        </span>
                        <input
                          type="password"
                          placeholder="Password"
                          class="form-control"
                          formControlName="password"
                          aria-placeholder="enter the password"
                          style="
                            left: 0%;
                            right: 83.02%;
                            top: 0%;
                            bottom: 91.33%;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13.7333px;
                            line-height: 16px;
                          "
                          [style]="{
                            border:
                              forgotForm.get('password').invalid &&
                              (forgotForm.get('password').dirty ||
                                forgotForm.get('password').touched)
                                ? '1px solid red'
                                : ''
                          }"
                          [ngStyle]="{
                            'background-color': formBgColor,
                            color: formFontColor || 'black',
                            border: '1px solid ' + formFontColor
                          }"
                        />
                      </div>
                      <div
                        *ngIf="
                          forgotForm.get('password').invalid &&
                          (forgotForm.get('password').dirty ||
                            forgotForm.get('password').touched)
                        "
                        class="alert alert-danger mt-1"
                      >
                        <div *ngIf="forgotForm.get('password').errors.required">
                          *Password is required.
                        </div>
                      </div>
                    </div>
                    <div class="mb-4">
                      <div class="input-group form-outline">
                        <span
                          class="input-group-text"
                          [ngStyle]="{
                            'background-color': formBgColor,
                            color: formFontColor || 'black',
                            border: '1px solid ' + formFontColor
                          }"
                        >
                          <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                        </span>
                        <input
                          type="password"
                          placeholder="Confirm Password"
                          class="form-control"
                          formControlName="confirm_password"
                          aria-placeholder="enter confirm password"
                          style="
                            left: 0%;
                            right: 83.02%;
                            top: 0%;
                            bottom: 91.33%;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13.7333px;
                            line-height: 16px;
                          "
                          [style]="{
                            border:
                              forgotForm.get('confirm_password').invalid &&
                              (forgotForm.get('confirm_password').dirty ||
                                forgotForm.get('confirm_password').touched)
                                ? '1px solid red'
                                : ''
                          }"
                          [ngStyle]="{
                            'background-color': formBgColor,
                            color: formFontColor || 'black',
                            border: '1px solid ' + formFontColor
                          }"
                        />
                      </div>
                      <div
                        *ngIf="
                          forgotForm.get('confirm_password').invalid &&
                          (forgotForm.get('confirm_password').dirty ||
                            forgotForm.get('confirm_password').touched)
                        "
                        class="alert alert-danger mt-1"
                      >
                        <div
                          *ngIf="
                            forgotForm.get('confirm_password').errors.required
                          "
                        >
                          *Confirm Password is required.
                        </div>
                        <div
                          *ngIf="
                            forgotForm.get('confirm_password').errors
                              .validatePassword
                          "
                        >
                          *Password did not match.
                        </div>
                      </div>
                    </div>

                    <div class="relogin col-5 float-end ms-2 mb-2">
                      <a
                        [routerLink]="['../login']"
                        class="small text-muted float-end ms-4"
                        style="color: #3d95f7 !important; text-decoration: none"
                        >Login</a
                      >
                    </div>

                    <!-- <div class="pt-1 mb-4"> -->
                    <button
                      class="btn pt-1"
                      [disabled]="!forgotForm.valid || isLoading"
                      (click)="forgotPassword()"
                      id="reset"
                      style="color: white"
                      [style]="{
                        opacity: !forgotForm.valid || isLoading ? '0.5' : ''
                      }"
                    >
                      <div
                        *ngIf="isLoading"
                        class="spinner-border spinner-border-sm"
                        role="status"
                      >
                        <span class="sr-only">Loading...</span>
                      </div>
                      Reset Password
                    </button>
                    <!-- </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
