<ng-container *ngIf="options$ | progress | async as payload">
  <app-modal-layout>
    <!-- <strong
      style="font-weight: bolder; font-size: 1.3em"
      [ngStyle]="{
        'font-family': formFont || 'Times New Roman, Times, serif',
        'color': '#' + (formColor || 'ff9900')
      }"
      mdTitle
      >ADD USERS
      <span *ngIf="group?.roleName"
        >TO {{ group.roleName | uppercase }} GROUP</span
      ></strong
    > -->
    <app-title
      *ngIf="group?.roleName"
      mdTitle
      title="ADD USERS TO {{ group.roleName | uppercase }} GROUP "
      size="md"
    ></app-title>
    <div mdRightButtons>
      <!-- <button
        type="button"
        class="btn btn-success"
        *ngIf="!payload.loading"
        [disabled]="control.invalid || control.pristine"
        (click)="saveHandler()"
        id="submit"
      >
        Save
      </button> -->
      <button
        class="float-end me-4"
        *ngIf="!payload.loading"
        [disabled]="control.invalid || control.pristine"
        [ngStyle]="{
          backgroundColor: '#' + (primaryColour || '3D95F7'),
          width: '10em',
          color: '#ffffff',
          fontSize: '16px',
          border: '0',
          borderRadius: '10px',
          height: '35px'
        }"
        [style]="{
          opacity: control.invalid || control.pristine ? '0.5' : ''
        }"
        (click)="saveHandler()"
      >
        Save
      </button>
    </div>

    <div mdLeftButtons>
      <!-- <button
        type="button"
        class="btn btn-danger"
        (click)="modalRef.close()"
        id="cancel"
      >
        Cancel
      </button> -->
      <button
        class="ms-4"
        [ngStyle]="{
          backgroundColor: '#fff',
          width: '10em',
          color: '#' + (primaryColour || '3D95F7'),
          fontSize: '16px',
          border: '1px solid #' + (primaryColour || '3D95F7'),
          borderRadius: '10px',
          height: '35px'
        }"
        (click)="modalRef.close()"
      >
        Cancel
      </button>
    </div>

    <ngx-skeleton-loader
      *ngIf="payload.loading"
      [count]="5"
    ></ngx-skeleton-loader>
    <app-control-error *ngIf="payload.error">{{
      payload.error.message
    }}</app-control-error>
    <table
      class="table borderles"
      *ngIf="payload.value"
      [ngStyle]="{
        'font-family': formFont || 'Times New Roman, Times, serif',
        color: formFontColor || 'black',
        border: '1px solid ' + formBgColor,
        'background-color': formBgColor
      }"
    >
      <thead>
        <tr>
          <th scope="col" style="width: 14em !important">Company User</th>
          <th scope="col">Email Address</th>
          <th scope="col" style="text-align: right">
            <button
              [disabled]="
                control.invalid ||
                payload.value.length === control.controls.length
              "
              (click)="addControl()"
              class="btn btn-outline-primary btn-sm"
            >
              +
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of control.controls; let i = index">
          <td>
            <app-combo-select-field
              [options]="payload.value"
              [loading]="payload.loading"
              (selectionChange)="onSelect($event, i)"
            ></app-combo-select-field>
          </td>
          <td>
            <ng-container *ngIf="mappings$ | async as bag">
              <div class="mt-3">
                {{ bag.get(control.controls[i].value)?.emailAddress }}
              </div>
            </ng-container>
            <!-- {{ bag.get(control.controls[i].value)?.firstName }} -->
          </td>
          <td style="text-align: right">
            <div class="mt-3">
              <a href="javascript:void(0);" (click)="deleteHandler(i)"
                >Delete</a
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </app-modal-layout>
</ng-container>
