<div
  class="container-fluid"
  [ngStyle]="{
    'font-family': formFont || 'Times New Roman, Times, serif',
    color: formFontColor || 'black',
    border: '1px solid ' + formBgColor,
    'background-color': formBgColor
  }"
>
  <div class="row justify-content-center align-items-center">
    <div class="" style="padding-right: 0px; padding-left: 0px">
      <!-- <div
        class="card col-sm-12 col-xs-12 col-md-12"
        style="
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        "
      >
        <div class="card-body" style="overflow: auto"> -->
      <div
        class="card"
        [ngStyle]="{
          'font-family': formFont || 'Times New Roman, Times, serif',
          color: formFontColor || 'black',
          border: '1px solid ' + formBgColor,
          'background-color': formBgColor
        }"
      >
        <!-- <div
      class="card-header"
      style="font-weight: bolder; font-size: 1.3em"
      [ngStyle]="{
        'font-family': formFont || 'Times New Roman, Times, serif',
        color: '#' + (formColor || 'ff9900')
      }"
    >
      Change Password
    </div> -->
        <app-title
          class="card-header"
          title="Change Password"
          size="lg"
        ></app-title>
        <div class="card-body">
          <div clas="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <!-- <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2"> -->
            <!-- <span
        style="
          padding: 4px;
          margin: 4px auto;
          font-size: 1em;
          font-weight: bold;
          color: #ff7c21;
        "
      >
        Change Password
      </span> -->
            <!-- </div>
  </div> -->
          </div>
          <app-password-change
            (onSave)="saveHandler($event)"
            [loginIn]="user?.loginId"
            [userId]="user?.userId"
          ></app-password-change>
        </div>
      </div>
      <!-- </div>
      </div> -->
    </div>
  </div>
</div>
