// input {
//     border: none;
//     outline: none;
//     border-bottom: 1px solid black;
//     border-radius: 5px;
// }

button:hover#submit {
  background-color: green;
  font-weight: bolder;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--input-border) !important;
}