<div
  class="px-3"
  [ngStyle]="{
    'font-family': formFont || 'Times New Roman, Times, serif',
    color: formFontColor || 'black',
    border: '1px solid ' + formBgColor,
    'background-color': formBgColor
  }"
>
  <form [formGroup]="form">
    <div class="col-sm-12 col-md-6">
      <div class="row mb-3">
        <ng-container *ngIf="!selectable">
          <mat-form-field class="col-12   " appearance="outline">
            <mat-label
              [ngStyle]="{
                'font-family': formFont || 'Times New Roman, Times, serif',
                color: formFontColor || 'black'
              }"
              >Login Id</mat-label
            >
            <input
              matInput
              type="text"
              disabled
              formControlName="loginId"
              placeholder="Login Id"
              [ngStyle]="{
                color: formFontColor || 'black',
                'font-family': formFont || 'Times New Roman, Times, serif',
                'background-color': formBgColor
              }"
            />
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="selectable">
          <app-combo-select-field
            formControlName="userId"
            *ngIf="users$ | progress | async as payload"
            [options]="payload.value"
            [loading]="payload.loading"
            emptyMessage="No accounts found"
            placeholder="Login Id"
            [defaultSelection]="userId"
            (selectionChange)="form.patchValue({ userId: $event.value })"
          ></app-combo-select-field>
        </ng-container>
        <app-control-error
          *ngIf="form.get('userId').invalid && form.get('userId').touched"
        >
          <span *ngIf="form.get('userId').errors.required"
            >This field is required</span
          >
        </app-control-error>
        {{ loginIn }}
      </div>

      <div class="row mb-3">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label
            [ngStyle]="{
              'font-family': formFont || 'Times New Roman, Times, serif',
              color: formFontColor || 'black'
            }"
            >New Password</mat-label
          >
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="New Password"
            [ngStyle]="{
              color: formFontColor || 'black',
              'font-family': formFont || 'Times New Roman, Times, serif',
              'background-color': formBgColor
            }"
          />
        </mat-form-field>
        <app-control-error
          *ngIf="form.get('password').invalid && form.get('password').touched"
        >
          <span *ngIf="form.get('password').errors.required"
            >This field is required</span
          >
        </app-control-error>
      </div>

      <div class="row mb-3">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label
            [ngStyle]="{
              'font-family': formFont || 'Times New Roman, Times, serif',
              color: formFontColor || 'black'
            }"
            >Confirm Password</mat-label
          >
          <input
            matInput
            type="password"
            formControlName="confirmation"
            placeholder="Confirm Password"
            [ngStyle]="{
              color: formFontColor || 'black',
              'font-family': formFont || 'Times New Roman, Times, serif',
              'background-color': formBgColor
            }"
          />
        </mat-form-field>
        <app-control-error
          *ngIf="
            form.get('confirmation').invalid && form.get('confirmation').touched
          "
        >
          <span *ngIf="form.get('confirmation').errors.required"
            >This field is required</span
          >
          <span *ngIf="form.get('confirmation').errors.passwordMismatch"
            >Password mismatch.</span
          >
        </app-control-error>
      </div>

      <div
        class="row mb-3 justify-content-end"
        *ngIf="permission$ | async as payload"
      >
        <div class="col-3">
          <button
            *ngIf="payload.security.changePassword.updater"
            class="float-end"
            [disabled]="form.invalid || form.pristine"
            (click)="saveHandler()"
            [ngStyle]="{
              backgroundColor: '#' + (primaryColour || '3D95F7'),
              width: '10em',
              color: '#ffffff',
              fontSize: '16px',
              border: '0',
              borderRadius: '10px',
              height: '35px'
            }"
            [style]="{
              opacity: form.invalid || form.pristine ? '0.5' : ''
            }"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <input
            type="text"
            class="form-control"
            readonly
            formControlName="loginId"
            placeholder="Login Id"
            [ngStyle]="{
              color: formFontColor || 'black',
              'background-color': formBgColor,
              'border-bottom': '1px solid ' + formFontColor
            }"
          /> -->
<!-- <app-combo-box-field
            formControlName="userId"
            *ngIf="users$ | progress | async as payload"
            [options]="payload.value"
            [loading]="payload.loading"
            emptyMessage="No accounts found"
            placeholder="Login Id"
          ></app-combo-box-field> -->
<!-- 
<input
  type="password"
  class="form-control"
  formControlName="password"
  placeholder="Password"
  [ngStyle]="{
    color: formFontColor || 'black',
    'background-color': formBgColor,
    'border-bottom': '1px solid ' + formFontColor
  }"
/> -->
<!-- <input
  type="password"
  class="form-control"
  formControlName="confirmation"
  placeholder="Confirm Password"
  [ngStyle]="{
    color: formFontColor || 'black',
    'background-color': formBgColor,
    'border-bottom': '1px solid ' + formFontColor
  }"
/> -->
