<div
  class="container-fluid"
  [ngStyle]="{
    'font-family': formFont || 'Times New Roman, Times, serif',
    color: formFontColor || 'black',
    border: '1px solid ' + formBgColor,
    'background-color': formBgColor
  }"
  *ngIf="permission$ | async as payload"
>
  <div class="row justify-content-center align-items-center">
    <div class="" style="padding-right: 0px; padding-left: 0px">
      <div
        class="card col-sm-12 col-xs-12 col-md-12"
        style="
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        "
        [ngStyle]="{
          'font-family': formFont || 'Times New Roman, Times, serif',
          color: formFontColor || 'black',
          border: '1px solid ' + formBgColor,
          'background-color': formBgColor
        }"
      >
        <div class="card-body" style="overflow: auto">
          <div
            class="card"
            *ngIf="payload.utility.bulkDeviceLoad.menuAccess"
            [ngStyle]="{
              'font-family': formFont || 'Times New Roman, Times, serif',
              color: formFontColor || 'black',
              border: '1px solid ' + formBgColor,
              'background-color': formBgColor
            }"
          >
            <!-- <div
      class="card-header font-weight-bold"
      style="font-weight: bolder; font-size: 1.3em"
      [ngStyle]="{
        'font-family': formFont || 'Times New Roman, Times, serif',
        color: '#' + (formColor || 'ff9900')
      }"
    >
      Bulk Device Load
    </div> -->
            <app-title
              class="card-header"
              title="Bulk Device Load"
              size="lg"
            ></app-title>
            <div class="card-body">
              <form [formGroup]="deviceForm">
                <!-- <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"> -->
                <div class="row">
                  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> -->
                  <div
                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                  >
                    <div class="row">
                      <div
                        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
                      >
                        <app-company-field
                          [subdomain]="subdomain"
                          placeholder="Select Company..."
                          formControlName="companyId"
                          selectable="true"
                          (selectionChange)="
                            deviceForm.patchValue({ companyId: $event.value })
                          "
                        >
                        </app-company-field>
                        <app-control-error
                          *ngIf="
                            deviceForm.get('companyId').invalid &&
                            deviceForm.get('companyId').touched
                          "
                        >
                          <span
                            *ngIf="deviceForm.get('companyId').errors.required"
                          >
                            This field is required.
                          </span>
                        </app-control-error>
                      </div>

                      <div
                        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
                      >
                        <app-device-network-field
                          formControlName="networkId"
                          placeholder="Select network..."
                          selectable="true"
                          (selectionChange)="
                            deviceForm.patchValue({ networkId: $event.value })
                          "
                        >
                        </app-device-network-field>
                        <app-control-error
                          *ngIf="
                            deviceForm.get('networkId').invalid &&
                            deviceForm.get('networkId').touched
                          "
                        >
                          <span
                            *ngIf="deviceForm.get('networkId').errors.required"
                          >
                            This field is required.
                          </span>
                        </app-control-error>
                      </div>

                      <div
                        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
                      >
                        <mat-form-field class="col-12" appearance="outline">
                          <mat-label
                            [ngStyle]="{
                              color: formFontColor || 'black',
                              'font-family':
                                formFont || 'Times New Roman, Times, serif'
                            }"
                            >Title</mat-label
                          >
                          <input
                            matInput
                            class=""
                            formControlName="title"
                            placeholder="Title"
                            [ngStyle]="{
                              color: formFontColor || 'black',
                              'background-color': formBgColor
                            }"
                          />
                        </mat-form-field>

                        <app-control-error
                          *ngIf="
                            deviceForm.get('title').invalid &&
                            deviceForm.get('title').touched
                          "
                        >
                          <span *ngIf="deviceForm.get('title').errors.required">
                            This field is required.
                          </span>
                        </app-control-error>
                      </div>

                      <div
                        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
                      >
                        <app-device-category-field
                          [subdomain]="subdomain"
                          [networkId]="deviceForm.value.networkId"
                          formControlName="clientDeviceCategId"
                          placeholder="Select category..."
                          selectable="true"
                          (selectionChange)="
                            deviceForm.patchValue({
                              clientDeviceCategId: $event.value
                            })
                          "
                        >
                        </app-device-category-field>
                        <app-control-error
                          *ngIf="
                            deviceForm.get('clientDeviceCategId').invalid &&
                            deviceForm.get('clientDeviceCategId').touched
                          "
                        >
                          <span
                            *ngIf="
                              deviceForm.get('clientDeviceCategId').errors
                                .required
                            "
                          >
                            This field is required.
                          </span>
                        </app-control-error>
                      </div>

                      <div
                        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
                      >
                        <app-device-manufacturer-field
                          formControlName="manufacturerId"
                          placeholder="Select manufacturer..."
                          [new]="true"
                          (selectionChange)="
                            deviceForm.patchValue({
                              manufacturerId: $event.value
                            })
                          "
                        >
                        </app-device-manufacturer-field>
                        <app-control-error
                          *ngIf="
                            deviceForm.get('manufacturerId').invalid &&
                            deviceForm.get('manufacturerId').touched
                          "
                        >
                          <span
                            *ngIf="
                              deviceForm.get('manufacturerId').errors.required
                            "
                          >
                            This field is required.
                          </span>
                        </app-control-error>
                      </div>

                      <div
                        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
                      >
                        <app-device-manufacturer-type-field
                          formControlName="manufDeviceTypeId"
                          placeholder="Select manufacturer type..."
                          [manufacturerId]="deviceForm.value?.manufacturerId"
                          [new]="true"
                          (selectionChange)="
                            deviceForm.patchValue({
                              manufDeviceTypeId: $event.value
                            })
                          "
                        >
                        </app-device-manufacturer-type-field>
                        <app-control-error
                          *ngIf="
                            deviceForm.get('manufDeviceTypeId').invalid &&
                            deviceForm.get('manufDeviceTypeId').touched
                          "
                        >
                          <span
                            *ngIf="
                              deviceForm.get('manufDeviceTypeId').errors
                                .required
                            "
                          >
                            This field is required.
                          </span>
                        </app-control-error>
                      </div>

                      <div
                        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
                      >
                        <app-use-case-field
                          formControlName="useCaseId"
                          placeholder="Select device use case..."
                          [new]="true"
                          (selectionChange)="
                            deviceForm.patchValue({ useCaseId: $event.value })
                          "
                        >
                        </app-use-case-field>
                        <app-control-error
                          *ngIf="
                            deviceForm.get('useCaseId').invalid &&
                            deviceForm.get('useCaseId').touched
                          "
                        >
                          <span
                            *ngIf="deviceForm.get('useCaseId').errors.required"
                          >
                            This field is required.
                          </span>
                        </app-control-error>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-12">
                      <div class="row" style="align-items: center;">
                       
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
                        >
                          <input
                            formControlName="file"
                            id="file"
                            type="file"
                            class="file-input"
                            (change)="onFileChange($event)"
                            #fileUpload
                            [ngStyle]="{
                              color: formFontColor || 'black',
                              'background-color': formBgColor,
                              border: '1px solid ' + formFontColor
                            }"
                          />

                          <mat-form-field
                            class="col-12"
                            appearance="outline"
                            (click)="fileUpload.click()"
                            role="button"
                          >
                            <mat-label
                              [ngStyle]="{
                                color: formFontColor || 'black',
                                'font-family':
                                  formFont || 'Times New Roman, Times, serif'
                              }"
                              >Upload Device File</mat-label
                            >
                            <mat-hint class="mt-2 p-0" style="padding-left: 0px !important;">Upload your filled template </mat-hint>
                            <input
                              matInput
                              readonly
                              [value]="filename || ''"
                              [ngStyle]="{
                                color: formFontColor || 'black',
                                'background-color': formBgColor
                              }"
                              role="button"
                            />
                            <mat-icon
                              matSuffix
                              [ngStyle]="{
                                color: formFontColor || 'black'
                              }"
                              >attach_file</mat-icon
                            >
                          </mat-form-field>

                          <app-control-error
                            *ngIf="
                              deviceForm.get('file').invalid &&
                              deviceForm.get('file').touched
                            "
                          >
                            <span
                              *ngIf="deviceForm.get('file').errors.required"
                            >
                              This field is required.
                            </span>
                          </app-control-error>
                        </div>
                        <div
                        class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-2 mt-2"
                      >
                        <!-- <button
                      (click)="viewTemplate()"
                      type="button"
                      class="btn btn-secondary"
                      [disabled]="deviceForm.get('companyId').invalid"
                    >
                      Download Template
                    </button> -->
                        <button
                          [ngStyle]="{
                            backgroundColor:
                              '#' + (primaryColour || '3D95F7'),
                            width: '10em',
                            color: '#ffffff',
                            fontSize: '16px',
                            border: '0',
                            borderRadius: '10px',
                            height: '35px'
                          }"
                          [disabled]="
                            deviceForm.get('companyId').invalid ||
                            deviceForm.get('networkId').invalid
                          "
                          (click)="viewTemplate()"
                          [style]="{
                            opacity:
                              deviceForm.get('companyId').invalid ||
                              deviceForm.get('networkId').invalid
                                ? '0.5'
                                : ''
                          }"
                        >
                          <!-- <mat-icon
                            style="color: #ffffff !important"
                            aria-hidden="false"
                            aria-label="Downloadicon"
                            fontIcon="download"
                            >download</mat-icon
                          > -->
                          Download Template
                        </button>
                      </div>
                      </div>
                    </div>
                  </div>

                  <!-- </div> -->
                </div>
                <!-- </div> -->
                <div class="container-fluid">
                  <div class="row rowing">
                    <div class="col" style="padding: 1em 0">
                      <!-- <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6"> -->
                      <!-- <button
                (click)="cancel()"
                type="button"
                class="btn btn-danger"
              >
                Reset
              </button> -->
                      <button
                        [ngStyle]="{
                          backgroundColor: '#fff',
                          width: '10em',
                          color: '#' + (primaryColour || '3D95F7'),
                          fontSize: '16px',
                          border: '1px solid #' + (primaryColour || '3D95F7'),
                          borderRadius: '10px',
                          height: '35px'
                        }"
                        (click)="cancel()"
                      >
                        Reset
                      </button>
                      <!-- <button
                *ngIf="payload.utility.bulkDeviceLoad.creater"
                [disabled]="!deviceForm.valid"
                (click)="submit()"
                type="button"
                class="btn btn-success ms-2 float-end"
              >
                Import
              </button> -->
                      <button
                        class="float-end"
                        *ngIf="payload.utility.bulkDeviceLoad.creater"
                        [ngStyle]="{
                          backgroundColor: '#' + (primaryColour || '3D95F7'),
                          width: '10em',
                          color: '#ffffff',
                          fontSize: '16px',
                          border: '0',
                          borderRadius: '10px',
                          height: '35px'
                        }"
                        [disabled]="!deviceForm.valid"
                        (click)="submit()"
                        [style]="{
                          opacity: !deviceForm.valid ? '0.5' : ''
                        }"
                      >
                        Import
                      </button>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
