<app-page-layout>
  <!-- <div navigation class="main-header">
        <div class="container">
            <div class="navbar-expand-md navbar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                </button>
                <ul class="collapse navbar-collapse navbar-menu" id="collapsibleNavbar">

                    <li class="nav-item"><a class="nav-link" [routerLink]="['/corporate/dashboards']"
                            routerLinkActive="active">Dashboards</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/corporate/events']"
                            routerLinkActive="active">Events
                            Monitoring</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/corporate/reports']"
                            routerLinkActive="active">Reports</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/corporate/security']"
                            routerLinkActive="active">Security</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/corporate/utility']"
                            routerLinkActive="active">Utility</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/corporate/setup']"
                            routerLinkActive="active">Setup</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->

  <mat-sidenav-container style="">
    <mat-sidenav
      #sidenav
      navigation
      mode="side"
      [ngStyle]="{ 'width.em': sidenavWidth }"
      [style.background-color]="
        domain?.sideBarColor ? domain?.sideBarColor : '#fff'
      "
      class="sidenav"
      opened="true"
      (mouseenter)="increase()"
      (mouseleave)="decrease()"
    >
      <!-- [ngStyle]="{'background-color':'red'}" -->

      <mat-list navigation>
        <a
          mat-list-item
          routerLinkActive="active"
          [routerLink]="['./corporate-landing']"
          class="nav-link text-dark hover"
        >
          <mat-icon mat-list-icon> home</mat-icon>
          <p matLine *ngIf="sidenavWidth > 6">Home</p>
        </a>
        <mat-accordion hideToggle="{{ sidenavWidth < 6 }}">
          <mat-expansion-panel
            style="box-shadow: none; background-color: inherit"
            [(expanded)]="closeDash"
            *ngIf="payload?.dashboards?.dashboardDesign?.menuAccess"
          >
            <mat-expansion-panel-header>
              <mat-panel-title *ngIf="sidenavWidth > 6">
                <mat-icon class="me-3">dashboard</mat-icon> Dashboard
              </mat-panel-title>
              <mat-panel-title
                *ngIf="sidenavWidth < 6"
                style="overflow: visible"
              >
                <mat-icon>dashboard</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- <a
              *ngIf="payload?.dashboards?.dashboardDesign?.menuAccess"
              mat-list-item
              [routerLink]="['./dashboards']"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">dashboard</mat-icon> Dashboard Design
            </a> -->
            <!-- <a
              *ngIf="payload.dashboards.mapGeolocationDesign.menuAccess"
              mat-list-item
              [routerLink]="['./dashboards/map-geolocation']"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">pin_drop</mat-icon> Map/Geolocation Design
            </a> -->
            <!-- <a
              *ngIf="payload?.dashboards?.viewDashboard?.menuAccess"
              mat-list-item
              [routerLink]="['./dashboards/view-dashboard']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">dashboard</mat-icon> View Dashboard
            </a>
            <a
              *ngIf="payload?.dashboards?.viewGeolocation?.menuAccess"
              mat-list-item
              [routerLink]="['./dashboards/view-geolocation']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">pin_drop</mat-icon> View Geolocation
            </a>
            <!-- <a
              *ngIf="payload?.dashboards?.assetTracker?.menuAccess"
              mat-list-item
              [routerLink]="['./dashboards/asset-tracker']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">settings_remote</mat-icon> Asset Tracker
            </a> -->
            <a
              mat-list-item
              [routerLink]="['./dashboards/geofencing']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">explore</mat-icon> Geofencing
            </a>

            <a
              mat-list-item
              [routerLink]="['./dashboards/smarthome']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">chalet</mat-icon> Smart Home
            </a>

            <a
              mat-list-item
              [routerLink]="['./dashboards/oil-gas']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">propane_tank</mat-icon> Oil and Gas
            </a>
          </mat-expansion-panel>

          <mat-expansion-panel
            style="box-shadow: none; background-color: inherit"
            class="mt-4"
            *ngIf="payload?.reports?.deviceHistory?.menuAccess"
            [(expanded)]="closeEvent"
          >
            <mat-expansion-panel-header>
              <mat-panel-title *ngIf="sidenavWidth > 6">
                <mat-icon class="me-3">event_note</mat-icon> Events Monitoring
              </mat-panel-title>
              <mat-panel-title
                *ngIf="sidenavWidth < 6"
                style="overflow: visible"
              >
                <mat-icon>event_note</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <a
              mat-list-item
              [routerLink]="['./events/device-alert-notification']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">campaign</mat-icon> Device Notification
            </a>
            <!-- <a
              mat-list-item
              [routerLink]="['./events']"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">event_note</mat-icon> Link 2
            </a>
            <a
              mat-list-item
              [routerLink]="['./events']"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">event_note</mat-icon> Link 3
            </a> -->
          </mat-expansion-panel>

          <mat-expansion-panel
            style="box-shadow: none; background-color: inherit"
            class="mt-4"
            [(expanded)]="closeReport"
            *ngIf="payload?.reports?.deviceHistory?.menuAccess"
          >
            <mat-expansion-panel-header>
              <mat-panel-title *ngIf="sidenavWidth > 6">
                <mat-icon class="me-3">report</mat-icon> Report
              </mat-panel-title>
              <mat-panel-title
                *ngIf="sidenavWidth < 6"
                style="overflow: visible"
              >
                <mat-icon>report</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <a
            *ngIf="payload?.reports?.deviceMessages?.menuAccess"
            mat-list-item
            [routerLink]="['./reports/device-report']"
            routerLinkActive="active"
            class="nav-link text-dark hover"
          >
            <mat-icon class="me-2">report</mat-icon> Device Report
          </a> -->
            <a
              *ngIf="payload?.reports?.deviceHistory?.menuAccess"
              mat-list-item
              [routerLink]="['./reports/device-history']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">history</mat-icon> Device History
            </a>
            <a
              *ngIf="payload?.reports?.assetList?.menuAccess"
              mat-list-item
              [routerLink]="['./reports/asset-list']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">list</mat-icon> Asset List
            </a>
            <a
              *ngIf="payload?.reports?.deviceList?.menuAccess"
              mat-list-item
              [routerLink]="['./reports/device-list']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">perm_device_information</mat-icon> Device
              List
            </a>
            <a
              *ngIf="payload?.reports?.deviceListSummary?.menuAccess"
              mat-list-item
              [routerLink]="['./reports/device-list-summary']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">perm_device_information</mat-icon> Device
              List Summary
            </a>
            <a
              *ngIf="payload?.reports?.deviceMessages?.menuAccess"
              mat-list-item
              [routerLink]="['./reports/device-messages']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">message</mat-icon> Device Messages
            </a>

            <!-- Device Message Summary -->
            <!-- <a
              *ngIf="payload?.reports?.deviceMessagesSummary?.menuAccess"
              mat-list-item
              [routerLink]="['./reports/device-messages-summary']"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">message</mat-icon> Device Message Summary
            </a> -->

            <!-- Billing -->
            <!-- <a
              *ngIf="payload?.reports?.billing?.menuAccess"
              mat-list-item
              [routerLink]="['./reports/billing']"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">payment</mat-icon> Billing
            </a> -->
          </mat-expansion-panel>

          <mat-expansion-panel
            style="box-shadow: none; background-color: inherit"
            class="mt-4"
            [(expanded)]="closeSec"
            *ngIf="payload?.security?.users?.menuAccess"
          >
            <mat-expansion-panel-header>
              <mat-panel-title *ngIf="sidenavWidth > 6">
                <mat-icon class="me-3">security</mat-icon> Security
              </mat-panel-title>
              <mat-panel-title
                *ngIf="sidenavWidth < 6"
                style="overflow: visible"
              >
                <mat-icon>security</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <a
              *ngIf="payload?.security?.users?.menuAccess"
              mat-list-item
              [routerLink]="['./security/users']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">supervised_user_circle</mat-icon> Users
            </a>
            <a
              *ngIf="payload?.security?.groupRoles?.menuAccess"
              mat-list-item
              [routerLink]="['./security/user-groups']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">group_work</mat-icon> Groups/Roles
            </a>
            <a
              *ngIf="payload?.security?.userDeviceAccess?.menuAccess"
              mat-list-item
              [routerLink]="['./security/user-device-access']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">accessible</mat-icon> Device Access
            </a>
            <a
              *ngIf="payload?.security?.changePassword?.menuAccess"
              mat-list-item
              [routerLink]="['./security/change-password']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">lock</mat-icon> Change Password
            </a>
            <a
              *ngIf="payload?.security?.roleAuthorization?.menuAccess"
              mat-list-item
              [routerLink]="['./security/role-authorization']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">supervisor_account</mat-icon> Role
              Authorization
            </a>
            <a
              mat-list-item
              [routerLink]="['./security/invoice-payment']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">receipt</mat-icon> Invoice Payment
            </a>
          </mat-expansion-panel>

          <mat-expansion-panel
            style="box-shadow: none; background-color: inherit"
            class="mt-4"
            [(expanded)]="closePayment"
          >
            <mat-expansion-panel-header
              *ngIf="payload?.utility?.bulkDeviceLoad?.menuAccess"
            >
              <mat-panel-title *ngIf="sidenavWidth > 6">
                <mat-icon class="me-3">paid</mat-icon> Payment
              </mat-panel-title>
              <mat-panel-title
                *ngIf="sidenavWidth < 6"
                style="overflow: visible"
              >
                <mat-icon>paid</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <a
              mat-list-item
              [routerLink]="['./billing/payment']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">payment</mat-icon> Billing
            </a>
          </mat-expansion-panel>

          <mat-expansion-panel
            style="box-shadow: none; background-color: inherit"
            class="mt-4"
            [(expanded)]="closeUtil"
          >
            <mat-expansion-panel-header
              *ngIf="payload?.utility?.bulkDeviceLoad?.menuAccess"
            >
              <mat-panel-title *ngIf="sidenavWidth > 6">
                <mat-icon class="me-3">tune</mat-icon> Utility
              </mat-panel-title>
              <mat-panel-title
                *ngIf="sidenavWidth < 6"
                style="overflow: visible"
              >
                <mat-icon>tune</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <a
              mat-list-item
              [routerLink]="['./utility']"
              class="nav-link text-dark"
              routerLinkActive="active"
              *ngIf="payload?.utility?.bulkDeviceLoad?.menuAccess"
            >
              <mat-icon class="me-2">devices_other</mat-icon> Bulk Device Load
            </a>
          </mat-expansion-panel>

          <mat-expansion-panel
            style="box-shadow: none; background-color: inherit"
            class="mt-4"
            [(expanded)]="closeSet"
            *ngIf="payload?.setup?.deviceConfig?.menuAccess"
          >
            <mat-expansion-panel-header>
              <mat-panel-title *ngIf="sidenavWidth > 6">
                <mat-icon class="me-3">settings</mat-icon> Setup
              </mat-panel-title>
              <mat-panel-title
                *ngIf="sidenavWidth < 6"
                style="overflow: visible"
              >
                <mat-icon>settings</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <a
              *ngIf="payload?.setup?.location?.menuAccess"
              mat-list-item
              [routerLink]="['./setup/location']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">location_on</mat-icon> Location
            </a>
            <a
              *ngIf="payload?.setup?.asset?.menuAccess"
              mat-list-item
              [routerLink]="['./setup/assets']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">trending_up</mat-icon> Assets
            </a>
            <a
              *ngIf="payload?.setup?.asset?.menuAccess"
              mat-list-item
              [routerLink]="['./setup/floor-plan-design']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">chalet</mat-icon> Floor Plan Design
            </a>
            <a
              *ngIf="payload?.setup?.deviceConfig?.menuAccess"
              mat-list-item
              [routerLink]="['./setup/device-config']"
              routerLinkActive="active"
              class="nav-link text-dark"
            >
              <mat-icon class="me-2">perm_data_setting</mat-icon> Device
              Configuration
            </a>
            <a
              mat-list-item
              [routerLink]="['./setup/company-parameters']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">rectangle</mat-icon> Company Parameters
            </a>
            <a
              mat-list-item
              [routerLink]="['./setup/white-label-configuration']"
              routerLinkActive="active"
              class="nav-link text-dark hover"
            >
              <mat-icon class="me-2">label</mat-icon> White Label
            </a>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content style="display: grid; margin-left: 40px">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-page-layout>
